/* ITEMS */
.email-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/70/70562.svg');
}

.lock-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/483/483408.svg');
}

.chat-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/61/61157.svg');
}

.bell-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/162/162722.svg');
}

.bell-off-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/565/565425.svg');
}

.gem-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/186/186300.svg');
}

.coin-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/70/70551.svg');
}

.live-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/167/167018.svg');
}

.reel-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/61/61139.svg');
}

.menu-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/56/56763.svg');
}

.network-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/66/66585.svg');
}

.credit-card-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/25/25246.svg');
}

.bank-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/66/66455.svg');
}

.cash-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/1/1203.svg');
}

.gift-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/324/324687.svg');
}

.gear-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/1242/1242392.svg');
}

.search-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/49/49116.svg');
}

.check-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/2089/2089713.svg');
}

.x-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/1828/1828774.svg');
}

.filter-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/2749/2749298.svg');
}

.female-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/866/866954.svg');
}

.male-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/1340/1340619.svg');
}

.left-carat-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/271/271220.svg');
}

.right-carat-icon {
    mask-image: url('https://image.flaticon.com/icons/png/512/271/271228.png');
}

.up-carat-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/271/271239.svg');
}

.down-carat-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/271/271210.svg');
}

.double-down-carat-icon {
    mask-image: url('https://image.flaticon.com/icons/png/512/25/25415.png');
}

.plus-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/1828/1828921.svg');
}

.user-circle-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/483/483361.svg');
}

.alert-triangle-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/272/272289.svg');
}

.pen-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/2891/2891610.svg');
}

.crown-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/91/91202.svg');
}

.list-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/860/860761.svg');
}

.vert-more-dots-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/2089/2089793.svg');
}

.hashtag-icon {
    mask-image: url('https://www.flaticon.com/svg/static/icons/svg/74/74559.svg');
}

.eye-on-icon {
    mask-image: url('https://www.flaticon.com/svg/static/icons/svg/63/63568.svg');
}

.eye-off-icon {
    mask-image: url('https://www.flaticon.com/svg/static/icons/svg/63/63498.svg');
}

.sound-on-icon {
    mask-image: url('https://www.flaticon.com/svg/static/icons/svg/56/56769.svg');
}

.sound-off-icon {
    mask-image: url('https://www.flaticon.com/svg/static/icons/svg/25/25212.svg');
}

.fullscreen-on-icon {
    mask-image: url('https://www.flaticon.com/svg/static/icons/svg/483/483333.svg');
}

.fullscreen-off-icon {
    mask-image: url('https://www.flaticon.com/svg/static/icons/svg/483/483332.svg');
}

/* END ITEMS */









/* SUBSCRIBE */
.subscribe-group-icon {
    mask-image: url('https://assets-1.owadachat.com/icons/actions/Owadachat-Subscribe-Icon-Group.svg?lop=trop');
}

.subscribe-plus-icon {
    mask-image: url('https://assets-1.owadachat.com/icons/actions/Owadachat-Subscribe-Icon-Plus.svg?lop=trop');
}

.subscribe-check-icon {
    mask-image: url('https://assets-1.owadachat.com/icons/actions/Owadachat-Subscribe-Icon-Check.svg?lop=trop');
}

.subscribe-minus-icon {
    mask-image: url('https://assets-1.owadachat.com/icons/actions/Owadachat-Subscribe-Icon-Minus.svg?lop=trop');
}



/* END SUBSCRIBE */











/* BOOST */
.boost-rocket-icon {
    mask-image: url('https://assets-1.owadachat.com/badge/Boost/Senders/Owadachat-Boost-Rocket-Silver.svg');
}

/* END BOOST */








/* SOCIAL */
.discord-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/2111/2111363.svg');
}

/* END SOCIAL */










/* PARTY */
.add-party-icon {
    mask-image: url('https://i.imgur.com/FO4i8qs.png');
}

/* END PARTY */







/* MEDIA */
.gallery-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/709/709663.svg');
}

.video-off-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/61/61042.svg');
}

.video-on-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/60/60999.svg');
}

.mic-on-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/25/25682.svg');
}

.mic-off-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/25/25632.svg');
}

.screen-on-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/566/566068.svg');
}

.screen-off-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/566/566072.svg');
}

/* END MEDIA */








/* ACTIONS */
.heart-wire-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/535/535285.svg');
}

.heart-fill-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/535/535234.svg');
}

.share-wire-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/1059/1059106.svg');
}

.share-fill-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/1059/1059157.svg');
}

.star-wire-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/149/149220.svg');
}

.star-fill-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/149/149763.svg');
}

.trash-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/2089/2089743.svg');
}

.donate-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/69/69881.svg');
}

.redo-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/44/44650.svg');
}

.capture-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/23/23016.svg');
}

.save-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/25/25398.svg');
}

.thumb-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/309/309524.svg');
}

.flag-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/149/149804.svg');
}

.info-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/64/64494.svg');
}

.upload-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/725/725008.svg');
}

.invite-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/1946/1946423.svg');
}

.leave-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/660/660350.svg');
}

/* END ACTIONS */







/* STATUS */
.verified-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/37/37629.svg');
}

.fire-icon {
    mask-image: url('https://image.flaticon.com/icons/svg/483/483675.svg');
}

/* END STATUS */