<div class="flex-column margin-med" *ngIf="(EffectItem != null)">
    <!-- NAME -->
    <div class="flex-column">
        <p class="small-text margin-small">name</p>


        <common-elements-standard-text-input-base [Value]="EffectItem.info_inputs.name" [TextClass]="'large-text'" [Placeholder]="'effect name'" (onChange)="EffectItem.handleChange('name', $event)" (onEnter)="$event"></common-elements-standard-text-input-base>


        <div class="med-height flex-column">
            <p class="small-text red-text margin-side-small margin-vert" *ngIf="(EffectItem.input_messages.name)">{{EffectItem.input_messages.name.message}}</p>
        </div>
    </div>
    <!-- END NAME -->









    <!-- FILE -->
    <div class="flex-column">
        <p class="small-text margin-small">file</p>



        <bridge-elements-effects-edit-box-info-section-file-input-base [EffectItem]="EffectItem"></bridge-elements-effects-edit-box-info-section-file-input-base>



        <div class="med-height flex-column">
            <p class="small-text red-text margin-side-small margin-vert" *ngIf="(EffectItem.input_messages.media)">{{EffectItem.input_messages.media.message}}</p>
        </div>
    </div>
    <!-- END FILE -->













    <!-- SAVE -->
    <div class="save-holder flex-row fill-light-shade padding-med" *ngIf="(EffectItem.fetchChanges().length)">

        <div class="save-box flex-auto flex-row light-round fill-white low-shadow padding-small margin-side-small margin-vert">
            <!-- MESSAGE -->
            <p class="margin-side-med margin-vert" [hidden]="(EffectItem.message.message.length)">You have unsaved changes.</p>


            <p class="margin-side-med margin-vert" [ngClass]="{'red-text': (EffectItem.message.status == 'error'), 'green-text': (EffectItem.message.status == 'success')}" [hidden]="(!EffectItem.message.message.length)">{{EffectItem.message.message}}</p>
            <!-- END MESSAGE -->

            <div class="flex-auto"></div>







            <!-- BUTTON -->
            <div class="large-height flex-row light-round fill-green margin-med" style="min-width: 90px;" [ngClass]="{'fill-green': (status != 'error'), 'fill-red': (status == 'error')}" (click)="saveInputs()">
                <common-elements-loading-animation-base class="margin-center margin-vert" style="height: 50%; width: 80px;" #LoadingLottie [hidden]="(!status.length)"></common-elements-loading-animation-base>



                <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="'Save'" [TextClass]="'small-text bold-text margin-center margin-vert'" [hidden]="(status.length)"></common-elements-standard-button-base>
            </div>
            <!-- END BUTTON -->
        </div>

    </div>
    <!-- END SAVE -->
</div>