<!-- LABEL -->
<div class="height-100 width-100 relative" (click)="toggleOverlayOpened()">
    <common-elements-standard-dropdown-label class="{{DropdownClass}}" [LabelClass]="LabelClass" [ValueClass]="ValueClass" [Value]="Label" [IconClass]="IconClass" [IconType]="'image'" [IconSrc]="IconSrc" [DropClass]="DropClass" [SplashColor]="SplashColor"></common-elements-standard-dropdown-label>
</div>
<!-- END LABEL -->




<!-- OVERLAY -->
<common-elements-countries-select-overlay-base *ngIf="(opened != -1)" [Opened]="opened" [Value]="Value" (onClose)="toggleOverlayOpened()" (onSelect)="handleSelect($event)"></common-elements-countries-select-overlay-base>
<!-- END OVERLAY -->