<div class="flex-column margin-med" *ngIf="(EffectItem != null)">
    <!-- DURATION -->
    <div class="flex-column">
        <p class="small-text margin-small">duration</p>


        <bridge-elements-effects-edit-box-settings-section-duration-input-base [EffectItem]="EffectItem"></bridge-elements-effects-edit-box-settings-section-duration-input-base>


        <div class="med-height flex-column">
            <p class="small-text red-text margin-side-small margin-vert" *ngIf="(EffectItem.Settings.input_messages.duration)">{{EffectItem.Settings.input_messages.duration.message}}</p>
        </div>
    </div>
    <!-- END DURATION -->









    <!-- VOLUME -->
    <div class="flex-column" *ngIf="(EffectItem.info.type == 'audio' || EffectItem.info.type == 'video')">
        <p class="small-text margin-small">volume</p>


        <bridge-elements-effects-edit-box-settings-section-volume-input-base [EffectItem]="EffectItem"></bridge-elements-effects-edit-box-settings-section-volume-input-base>


        <div class="med-height flex-column">
            <p class="small-text red-text margin-side-small margin-vert" *ngIf="(EffectItem.Settings.input_messages.volume)">{{EffectItem.Settings.input_messages.volume.message}}</p>
        </div>
    </div>
    <!-- END VOLUME -->









    <!-- POSITION -->
    <div class="flex-column" *ngIf="(EffectItem.info.type == 'video' || EffectItem.info.type == 'gif')">
        <p class="small-text margin-small">position</p>


        <bridge-elements-effects-edit-box-settings-section-position-input-base [EffectItem]="EffectItem"></bridge-elements-effects-edit-box-settings-section-position-input-base>


        <div class="med-height flex-column">
            <p class="small-text red-text margin-side-small margin-vert" *ngIf="(EffectItem.Settings.input_messages.position)">{{EffectItem.Settings.input_messages.position.message}}</p>
        </div>
    </div>
    <!-- END POSITION -->












    <!-- SAVE -->
    <div class="save-holder flex-row fill-light-shade padding-med" *ngIf="(EffectItem.Settings.fetchChanges().length)">

        <div class="save-box flex-auto flex-row light-round fill-white low-shadow padding-small margin-side-small margin-vert">
            <!-- MESSAGE -->
            <p class="margin-side-med margin-vert" [hidden]="(EffectItem.Settings.message.message.length)">You have unsaved changes.</p>


            <p class="margin-side-med margin-vert" [ngClass]="{'red-text': (EffectItem.Settings.message.status == 'error'), 'green-text': (EffectItem.Settings.message.status == 'success')}" [hidden]="(!EffectItem.Settings.message.message.length)">{{EffectItem.Settings.message.message}}</p>
            <!-- END MESSAGE -->

            <div class="flex-auto"></div>







            <!-- BUTTON -->
            <div class="large-height flex-row light-round fill-green margin-med" style="min-width: 90px;" [ngClass]="{'fill-green': (status != 'error'), 'fill-red': (status == 'error')}" (click)="saveInputs()">
                <common-elements-loading-animation-base class="margin-center margin-vert" style="height: 50%; width: 80px;" #LoadingLottie [hidden]="(!status.length)"></common-elements-loading-animation-base>



                <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="'Save'" [TextClass]="'small-text bold-text margin-center margin-vert'" [hidden]="(status.length)"></common-elements-standard-button-base>
            </div>
            <!-- END BUTTON -->
        </div>

    </div>
    <!-- END SAVE -->
</div>