<div class="overlay-fixed flex-row" *ngIf="(Account != null)" [ngClass]="{'opened': (Opened), 'closed': (Opened != 1)}">
    <div class="overlay-back" (click)="close()"></div>



    <div class="overlay-box flex-column med-round contained relative fill-white low-shadow margin-center margin-vert">
        <!-- TOP -->
        <div class="flex-column fill-dark-shade">
            <!-- INFO -->
            <div class="flex-column padding-large margin-med">
                <!-- PROFILE PIC -->
                <img class="std-circle pfp-holder margin-center" src="{{Account.info.profile_pic}}" alt="">
                <!-- END PROFILE PIC -->






                <!-- USERNAME -->
                <div class="std-height flex-row margin-center">
                    <img class="small-square margin-side-small margin-vert" [hidden]="(Account.platform != 'younow')" src="https://modsforandroid.com/wp-content/uploads/2018/12/Download-YouNow-Live-Stream-Video-Chat.png" alt="">


                    <p class="bold-text margin-side-small margin-vert">{{Account.info.name}}</p>
                </div>
                <!-- END USERNAME -->
            </div>
            <!-- END INFO -->











            <!-- TABS -->
            <div class="tab-holder flex-row fill-dark-shade">

                <!-- ITEM -->
                <div class="flex-row" *ngFor="let item of sections">
                    <div class="std-height content-width flex-row fill-white" style="min-width: 100px;" [ngClass]="{'fill-white': (item == section), 'fill-light-shade': (item != section)}" (click)="changeSection(item)">
                        <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="item" [TextClass]="'small-text bold-text margin-center margin-vert'"></common-elements-standard-button-base>
                    </div>



                    <div class="vert-sep-line"></div>
                </div>
                <!-- END ITEM -->

            </div>
            <!-- END TABS -->
        </div>
        <!-- END TOP -->












        <!-- SECTIONS -->
        <div class="flex-auto scroll-y">
            <!-- VOICE -->
            <bridge-elements-accounts-item-settings-box-voice-section-base *ngIf="(section == 'voice')" [Account]="Account"></bridge-elements-accounts-item-settings-box-voice-section-base>
            <!-- END VOICE -->






            <!-- EFFECTS -->
            <bridge-elements-accounts-item-settings-box-effects-section-base *ngIf="(section == 'effects')"></bridge-elements-accounts-item-settings-box-effects-section-base>
            <!-- END EFFECTS -->






            <!-- CHAT -->
            <bridge-elements-accounts-item-settings-box-chat-section-base *ngIf="(section == 'chat')"></bridge-elements-accounts-item-settings-box-chat-section-base>
            <!-- END CHAT -->

        </div>
        <!-- END SECTIONS -->










        <!-- CLOSE -->
        <div class="med-height light-round fill-red contained absolute active-opacity margin-med" style="top: 7px; left: 10px;" (click)="close()">
            <common-elements-standard-button-base class="height-100 width-100" [Text]="'close'" [TextClass]="'small-text margin-side-med margin-vert'" [SplashColor]="'rgba(0,0,0,.17)'"></common-elements-standard-button-base>
        </div>
        <!-- END CLOSE -->


    </div>
</div>