<div class="holder-box height-100 width-100 relative">

    <div class="padding-med">
        <!-- HEADER -->
        <p class="large-text bold-text margin-med">Likes</p>
        <!-- END HEADER -->








        <!-- BAR -->
        <div class="bar-holder flex-row pill-round margin-med">

            <!-- FILL -->
            <div class="bar-fill pill-round relative" [ngStyle]="{'width': 50 + '%'}">

                <!-- ICON -->
                <img class="bar-image std-square contained absolute" style="right: -15px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Emojione_1F680.svg/1200px-Emojione_1F680.svg.png" alt="">
                <!-- END ICON -->

            </div>
            <!-- END FILL -->

        </div>
        <!-- END BAR -->







        <!-- GOAL -->
        <div class="flex-row margin-med">
            <p class="bold-text">Goal: 5.2k likes</p>
        </div>
        <!-- END GOAL -->
    </div>


</div>