/* HOLDER */
.holder-box {
    min-width: 200px;
    max-width: 300px;
    width: 30%;
}

/* HOLDER */













/* BAR */
.bar-holder {
    height: 15px;
    background-color: #777;
}


.bar-fill {
    background-color: rgb(20, 149, 255);
}


.bar-image {
    top: -10px;
}

/* END BAR */