<div class="margin-vert" (click)="toggleActive()">

    <!-- SLIDE -->
    <div class="slide-holder cursor-pointer" [ngStyle]="{'height': SlideHeight + 'px', 'width': (SlideHeight * 1.8) + 'px', 'border-radius': SlideHeight + 'px', 'background-color': (Active)?ActiveColor:InactiveColor}" [ngClass]="{'active': (Active)}">


        <!-- DOT -->
        <div class="slide-dot relative" [ngStyle]="{'height': SlideHeight + 2 + 'px', 'width': SlideHeight + 2 + 'px', 'background-color': DotColor}"></div>
        <!-- END DOT -->


    </div>
    <!-- END SLIDE -->

</div>