/* SLIDE */
.slide-holder {
    position: relative;
    /* background-color: #363a3d; */
    transition: all 90ms ease-in-out;
}

.slide-holder.active {
    /* background-color: #20c200; */
}



.slide-dot {
    position: absolute;
    top: -1px;
    left: -1%;
    /* background-color: #fff; */
    border-radius: 50%;
    transition: all 180ms ease-in-out;
}

.slide-holder.active>.slide-dot {
    left: 42%;
    transition: all 110ms ease-in-out;
}

/* END SLIDE */