<div class="std-height flex-row light-round fill-dark-shade padding-small margin-top-med" *ngIf="(EffectItem != null)">
    <!-- EFFECT NAME -->
    <p class="flex-auto bold-text one-line contained margin-side-med margin-vert">{{EffectItem.info.name}}</p>
    <!-- END EFFECT NAME -->




    <!-- REMOVE -->
    <div class="med-square icon-holder trash-icon cursor-pointer fill-light-text margin-side-med margin-vert" (click)="BracketItem.removeEffect(EffectItem.effect_id)"></div>
    <!-- END REMOVE -->
</div>