<div class="margin-top-med">
    <!-- VOICES -->
    <div class="flex-row padding-small margin-med">
        <!-- PROMPT -->
        <div class="prompt-box flex-auto flex-column padding-small margin-vert">
            <p class="bold-text">Audience Voices</p>
            <p class="small-text light-text">If disabled only highlighted members and roles will have voices.</p>
        </div>
        <!-- END PROMPT -->




        <!-- TOGGLE -->
        <div class="input-box margin-vert">
            <div class="flex-row margin-vert">
                <div class="flex-auto"></div>

                <p class="small-text bold-text margin-side-med margin-vert" [hidden]="(Voices.settings_inputs.voices_enabled)">disabled</p>
                <p class="small-text bold-text margin-side-med margin-vert" [hidden]="(!Voices.settings_inputs.voices_enabled)">enabled</p>

                <common-elements-slide-toggle-base class="margin-side-small" [Active]="Voices.settings_inputs.voices_enabled" (click)="Voices.toggleVoices()"></common-elements-slide-toggle-base>
            </div>
        </div>
        <!-- END TOGGLE -->
    </div>
    <div class="sep-line margin-med"></div>
    <!-- END VOICES -->














    <!-- VOICES -->
    <div class="flex-row padding-small margin-med">
        <!-- PROMPT -->
        <div class="prompt-box flex-auto flex-column padding-small margin-vert">
            <p class="bold-text">Announce Names</p>
            <p class="small-text light-text">Announces member's name before reading message.</p>
        </div>
        <!-- END PROMPT -->




        <!-- TOGGLE -->
        <div class="input-box margin-vert">
            <div class="flex-row margin-vert">
                <div class="flex-auto"></div>

                <p class="small-text bold-text margin-side-med margin-vert" [hidden]="(Voices.settings_inputs.names_enabled)">disabled</p>
                <p class="small-text bold-text margin-side-med margin-vert" [hidden]="(!Voices.settings_inputs.names_enabled)">enabled</p>

                <common-elements-slide-toggle-base class="margin-side-small" [Active]="Voices.settings_inputs.names_enabled" (click)="Voices.toggleNames()"></common-elements-slide-toggle-base>
            </div>
        </div>
        <!-- END TOGGLE -->
    </div>
    <div class="sep-line margin-med"></div>
    <!-- END VOICES -->












    <!-- DEFAULT VOICE -->
    <div class="flex-column padding-small margin-med">
        <!-- PROMPT -->
        <div class="prompt-box flex-auto flex-column padding-small">
            <p class="bold-text">Default Voice</p>
        </div>
        <!-- END PROMPT -->





        <!-- VALUE -->
        <div class="input-box">
            <div class="large-height margin-small">
                <common-elements-standard-dropdown-label class="large-height margin-vert" (click)="toggleVoicesOpened()" [Value]="(Voices.settings_inputs.default_voice.length)? Voices.settings_inputs.default_voice : 'Select Default Voice'" [IconType]="'name'" [IconName]="'sound-on-icon'" [IconClass]="'med-square fill-light-text margin-side-med margin-vert'"></common-elements-standard-dropdown-label>
            </div>


            <common-elements-voices-select-overlay-base *ngIf="(voices_opened != -1)" [Opened]="voices_opened" [Value]="Voices.settings_inputs.default_voice" (onClose)="toggleVoicesOpened()" (onSelect)="handleVoiceSelect($event)"></common-elements-voices-select-overlay-base>
        </div>
        <!-- END VALUE -->
    </div>
    <div class="sep-line margin-med"></div>
    <!-- END DEFAULT VOICE -->













    <!-- VOLUME -->
    <div class="flex-column padding-small margin-med">
        <!-- PROMPT -->
        <div class="prompt-box flex-auto flex-column padding-small">
            <p class="bold-text">Voice Volume</p>
        </div>
        <!-- END PROMPT -->




        <!-- VALUE -->
        <div class="input-box large-height flex-row margin-side-med">
            <p class="bold-text light-text margin-side-med margin-vert">{{(Voices.settings_inputs.volume * 10).toFixed(1)}}</p>

            <common-elements-single-range-base class="flex-auto margin-side-med margin-vert" [Step]="0.05" [TopValue]="Voices.settings_inputs.volume" (onTop)="Voices.settings_inputs.volume = $event; Voices.saveSettings()" [MinValue]="0" [MaxValue]="1" [BarHeight]="10" [BarColor]="'#3aa1d6'" [DotSize]="'small-dots'"></common-elements-single-range-base>
        </div>
        <!-- END VALUE -->
    </div>
    <div class="sep-line margin-med"></div>
    <!-- END VOLUME -->
</div>