<div class="flex-auto light-round relative contained fill-light-text margin-med" *ngIf="(EffectItem != null)">
    <!-- BOX -->
    <div class="relative contained fill-dark-shade">
        <div class="info-strecher" style="padding-top: 90%;"></div>
        <div class="height-100 width-100 flex-column cursor-pointer absolute" style="top: 0px; left: 0px;" (click)="Playing.addPlaying(EffectItem.effect_id)">
            <!-- PROFILE -->
            <div class="flex-column margin-center margin-vert">
                <!-- <div class="small-height"></div> -->
                <!-- TYPE -->
                <div class="std-square icon-holder sound-on-icon fill-light-text margin-center" [hidden]="(EffectItem.info.type != 'audio')"></div>
                <div class="std-square icon-holder reel-icon fill-light-text margin-center" [hidden]="(EffectItem.info.type != 'video')"></div>
                <div class="std-square icon-holder gallery-icon fill-light-text margin-center" [hidden]="(EffectItem.info.type != 'gif')"></div>
                <!-- END TYPE -->





                <!-- NAME -->
                <p class="tiny-text center-text margin-med">{{EffectItem.info.name}}</p>
                <!-- END NAME -->
            </div>
            <!-- END PROFILE -->
        </div>








        <!-- SETTINGS -->
        <div class="med-square icon-holder pen-icon cursor-pointer active-opacity fill-true-white absolute" style="top: 10px; right: 10px;" (click)="toggleEditOpened()"></div>
        <!-- END SETTINGS -->
    </div>
    <!-- END BOX -->
</div>













<!-- EDIT -->
<bridge-elements-effects-edit-box-base *ngIf="(edit_opened != -1)" [EffectItem]="EffectItem" [Opened]="(edit_opened)" (onClose)="toggleEditOpened()"></bridge-elements-effects-edit-box-base>
<!-- END EDIT -->