/* INPUTS */
.input-strip {
    padding: 20px 15px;
    min-height: 60px;
}

/* END INPUTS */








/* SAVE */
.save-holder {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: 70px;
}

/* END SAVE */