<div class="flex-column" *ngIf="(Account != null)">
    <!-- HIGHLIGHT -->
    <div class="input-strip flex-row margin-med">
        <div class="flex-auto flex-column contained margin-vert">
            <p class="bold-text">Highlight Chat</p>
            <p class="small-text light-text">Allow user have a chat voice.</p>
        </div>




        <!-- TOGGLE -->
        <div class="flex-row margin-vert">
            <div class="flex-auto"></div>

            <p class="small-text bold-text margin-side-med margin-vert" [hidden]="(Account.Voice.settings_inputs.highlight)">disabled</p>
            <p class="small-text bold-text margin-side-med margin-vert" [hidden]="(!Account.Voice.settings_inputs.highlight)">highlighted</p>



            <common-elements-slide-toggle-base class="margin-side-small" [Active]="Account.Voice.settings_inputs.highlight" (onToggle)="toggleHIghlight()"></common-elements-slide-toggle-base>
        </div>
        <!-- END TOGGLE -->
    </div>
    <div class="sep-line"></div>
    <!-- END HIGHLIGHT -->














    <!-- VOICE SELECT -->
    <div class="input-strip flex-column margin-med">
        <p class="bold-text">Voice</p>



        <!-- VALUE -->
        <div class="input-box">
            <common-elements-standard-dropdown-label class="large-height flex-row margin-top-med" (click)="toggleVoicesOpened()" [Value]="(Account.Voice.settings_inputs.voice)? Account.Voice.settings_inputs.voice : 'Select Default Voice'" [IconType]="'name'" [IconName]="'sound-on-icon'" [IconClass]="'med-square fill-light-text margin-side-med margin-vert'"></common-elements-standard-dropdown-label>

            <common-elements-voices-select-overlay-base *ngIf="(voices_opened != -1)" [Opened]="voices_opened" [Value]="Account.Voice.settings_inputs.voice" (onClose)="toggleVoicesOpened()" (onSelect)="handleVoiceSelect($event)"></common-elements-voices-select-overlay-base>
        </div>
        <!-- END VALUE -->
    </div>
    <div class="sep-line"></div>
    <!-- END VOICE SELECT -->















    <!-- VOICE PITCH -->
    <div class="input-strip flex-column margin-med">
        <p class="bold-text">Voice Pitch</p>



        <!-- VALUE -->
        <div class="std-height flex-row">
            <p class="small-text margin-side-med margin-vert">0.2</p>


            <common-elements-single-range-base class="flex-auto margin-vert" [TopValue]="Account.Voice.settings_inputs.pitch" [Step]="0.05" [BarHeight]="15" [BarColor]="'#3aa1d6'" [MaxValue]="2" [MinValue]="0.2" (onTop)="Account.Voice.handleChange('pitch', $event)"></common-elements-single-range-base>


            <p class="small-text margin-side-med margin-vert">2.0</p>
        </div>
        <!-- END VALUE -->
    </div>
    <div class="sep-line"></div>
    <!-- END VOICE PITCH -->
















    <!-- VOICE SPEED -->
    <div class="input-strip flex-column margin-med">
        <p class="bold-text">Voice Speed</p>



        <!-- VALUE -->
        <div class="std-height flex-row">
            <p class="small-text margin-side-med margin-vert">0.5</p>


            <common-elements-single-range-base class="flex-auto margin-vert" [TopValue]="Account.Voice.settings_inputs.speed" [Step]="0.1" [BarHeight]="15" [BarColor]="'#3aa1d6'" [MaxValue]="2" [MinValue]="0.5" (onTop)="Account.Voice.handleChange('speed', $event)"></common-elements-single-range-base>


            <p class="small-text margin-side-med margin-vert">2.0</p>
        </div>
        <!-- END VALUE -->
    </div>
    <div class="sep-line"></div>
    <!-- END VOICE SPEED -->






















    <!-- SAVE -->
    <div class="save-holder flex-row fill-light-shade padding-med" *ngIf="(Account.Voice.fetchChanges().length)">

        <div class="save-box flex-auto flex-row light-round fill-white low-shadow padding-small margin-side-small margin-vert">
            <!-- MESSAGE -->
            <p class="margin-side-med margin-vert" [hidden]="(Account.Voice.message.message.length)">You have unsaved changes.</p>


            <p class="margin-side-med margin-vert" [ngClass]="{'red-text': (Account.Voice.message.status == 'error'), 'green-text': (Account.Voice.message.status == 'success')}" [hidden]="(!Account.Voice.message.message.length)">{{Account.Voice.message.message}}</p>
            <!-- END MESSAGE -->

            <div class="flex-auto"></div>







            <!-- BUTTON -->
            <div class="large-height flex-row light-round fill-green margin-med" style="min-width: 90px;" [ngClass]="{'fill-green': (status != 'error'), 'fill-red': (status == 'error')}" (click)="saveInputs()">
                <common-elements-loading-animation-base class="margin-center margin-vert" style="height: 50%; width: 80px;" #LoadingLottie [hidden]="(!status.length)"></common-elements-loading-animation-base>



                <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="'Save'" [TextClass]="'small-text bold-text margin-center margin-vert'" [hidden]="(status.length)"></common-elements-standard-button-base>
            </div>
            <!-- END BUTTON -->
        </div>

    </div>
    <!-- END SAVE -->
</div>