<!-- LABEL -->
<div class="height-100 width-100 relative" (click)="toggleOverlayOpened()">
    <common-elements-standard-dropdown-label class="large-height flex-row margin-med" [ValueClass]="LabelClass" [Value]="Label" [DropClass]="DropClass" [SplashColor]="SplashColor"></common-elements-standard-dropdown-label>
</div>
<!-- END LABEL -->




<!-- OVERLAY -->
<common-elements-genders-select-overlay-base *ngIf="(opened != -1)" [Opened]="opened" [Value]="Value" (onClose)="toggleOverlayOpened()" (onSelect)="handleSelect($event)"></common-elements-genders-select-overlay-base>
<!-- END OVERLAY -->