<div class="overlay-fixed flex-row" [ngClass]="{'opened': (Opened == 1), 'closed': (Opened != 1)}">
    <div class="overlay-back fill-overlay" (click)="close()"></div>



    <div class="overlay-box flex-column med-round relative contained fill-white low-shadow margin-center margin-vert">
        <!-- TOP -->
        <div class="large-height flex-row fill-dark-shade padding-med">
            <!-- TITLE -->
            <p class="large-text bold-text center-text margin-center margin-vert">Select a Gender</p>
            <!-- END TITLE -->
        </div>
        <!-- END TOP -->





        <!-- OPTIONS -->
        <div class="flex-auto scroll-y" style="height: -webkit-fill-available;">
            <common-elements-genders-select-overlay-option-item *ngFor="let item of genders" [Label]="item.label" [Value]="item.value" [Active]="(selected.label == item.label)" (onSelect)="handleSelect($event)"></common-elements-genders-select-overlay-option-item>
        </div>
        <!-- END OPTIONS -->





        <!-- CLOSE -->
        <div class="close-button med-height light-round absolute active-opacity fill-red margin-large" style="top: 0px; right: 0px;" (click)="close()">
            <common-elements-standard-button-base class="margin-vert" [ButtonClass]="'padding-side-small'" [TextClass]="'tiny-text margin-side-small margin-vert'" [Text]="'close'" [SplashColor]="'rgba(35,30,42,0.3)'"></common-elements-standard-button-base>
        </div>
        <!-- END CLOSE -->
    </div>



</div>