 <div class="flex-row active-opacity cursor-pointer relative contained {{ChoiceClass}}" [ngClass]="{'fill-light-shade active': (Active), 'fill-dark-shade': (!Active)}" (click)="handleClick($event)">
     <!-- ICON -->
     <div class="icon-holder {{IconClass}}" [ngStyle]="{'-webkit-mask-image': 'url(' + Icon + ')', 'background-color': Color}"></div>
     <!-- END ICON -->



     <!-- LABEL -->
     <p class="{{LabelClass}}">{{Label}}</p>
     <!-- END LABEL -->



     <!-- RADIO -->
     <common-elements-radio-toggle-base class="tiny-circle margin-side-med margin-vert" [hidden]="(!Active)"></common-elements-radio-toggle-base>
     <!-- END RADIO -->



     <!-- SPLASH -->
     <common-elements-splash-base #SplashElement class="height-100 width-100 absolute inactive-events" style="top: 0px; left: 0px; opacity: 0.1;" [SplashColor]="Color"></common-elements-splash-base>
     <!-- END SPLASH -->
 </div>