<div class="flex-auto flex-column contained">
    <!-- TOP -->
    <div class="fill-dark-shade">
        <!-- SETTINGS -->
        <div class="large-height flex-row fill-dark-shade padding-side-med">
            <p class="bold-text margin-vert">Gifts Settings</p>

            <div class="flex-auto"></div>

            <div class="med-square icon-holder x-icon cursor-pointer fill-true-white margin-vert"></div>
        </div>
        <!-- END SETTINGS -->
    </div>
    <!-- END TOP -->








    <!-- SETTINGS -->
    <bridge-elements-gifts-settings-base class="flex-auto flex-column contained"></bridge-elements-gifts-settings-base>
    <!-- END SETTINGS -->
</div>