<!-- SPLASH HOLDER -->
<div class="splash-holder" #TargetElement>
    <!-- ITEM -->
    <div class="splash-item" *ngFor="let item of splash_events" [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
        <div class="splash-dot {{SplashSize}}" [ngStyle]="{'background-color': (SplashColor)}"></div>
    </div>
    <!-- END ITEM -->
</div>
<!-- END SPLASH HOLDER -->