/* SPLASH */

.splash-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.splash-item {
    position: absolute;
    width: 10px;
    height: 10px;
}

.splash-dot {
    position: absolute;
    width: 100%;
    /* padding-top: 100%; */
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(20, 20, 22, 0.2);
    animation: splash 1500ms forwards;
}

.splash-dot.large {
    animation: splashLarge 1500ms forwards;
}

@keyframes splashLarge {
    0% {
        top: 0px;
        left: 0px;
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    50% {
        top: -150px;
        left: -150px;
        width: 300px;
        height: 300px;
    }

    55% {
        opacity: 0;
    }

    100% {
        top: -350px;
        left: -350px;
        opacity: 0;
        width: 700px;
        height: 700px;
    }
}


.splash-dot.small {
    animation: splashSmall 1000ms forwards;
}

@keyframes splashSmall {
    0% {
        top: 0px;
        left: 0px;
        min-width: 0px;
        min-height: 0px;
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    50% {
        top: -25px;
        left: -25px;
        min-width: 50px;
        min-height: 50px;
        width: 50px;
        height: 50px;
    }

    55% {
        opacity: 0;
    }

    100% {
        top: -35px;
        left: -35px;
        opacity: 0;
        min-width: 70px;
        min-height: 70px;
        width: 70px;
        height: 70px;
    }
}

/* END SPLASH */