<div id="main-container" class="width-100 height-100 flex-column" [ngClass]="{'dark': (true)}">




    <div id="page-container" class="relative contained flex-auto flex-row">
        <div class="flex-auto flex-row" style="min-width: 320px;">

            <router-outlet></router-outlet>

            <!-- <bridge-elements-home-page-base></bridge-elements-home-page-base> -->

        </div>
    </div>




</div>