<div class="flex-row" *ngIf="(EffectItem != null)">
    <!-- ICON -->
    <div class="giant-square flex-column light-round relative contained fill-light-shade light-stroke margin-vert">
        <!-- UPLOAD -->
        <div class="std-square icon-holder upload-icon fill-light-text margin-center margin-vert" [hidden]="(EffectItem.info_inputs.type.length)"></div>
        <!-- END UPLOAD -->


        <!-- GIF -->
        <div class="std-square icon-holder gallery-icon fill-light-text margin-center margin-vert" [hidden]="(EffectItem.info_inputs.type != 'gif')"></div>
        <!-- END GIF -->


        <!-- AUDIO -->
        <div class="std-square icon-holder sound-on-icon fill-light-text margin-center margin-vert" [hidden]="(EffectItem.info_inputs.type != 'audio')"></div>
        <!-- END AUDIO -->


        <!-- VIDEO -->
        <div class="std-square icon-holder reel-icon fill-light-text margin-center margin-vert" [hidden]="(EffectItem.info_inputs.type != 'video')"></div>
        <!-- END VIDEO -->











        <!-- MEDIA -->
        <div class="height-100 width-100 flex-row absolute" style="top: 0px; left: 0px;">
            <!-- VIDEO -->
            <video class="height-100 width-100 contained" #VideoElement [src]="EffectItem.info_inputs.media" [hidden]="(EffectItem.info_inputs.type != 'video')"></video>
            <!-- END VIDEO -->



            <!-- AUDIO -->
            <audio class="height-100 width-100 contained" #AudioElement [src]="EffectItem.info_inputs.media" [hidden]="(EffectItem.info_inputs.type != 'audio')"></audio>
            <!-- END AUDIO -->



            <!-- IMAGE -->
            <img class="height-100 width-100 contained" #ImageElement [src]="EffectItem.info_inputs.media" [hidden]="(EffectItem.info_inputs.type != 'gif')">
            <!-- END IMAGE -->
        </div>
        <!-- END MEDIA -->
    </div>
    <!-- END ICON -->














    <!-- INFO -->
    <div class="flex-column padding-side-med margin-med margin-vert">
        <!-- TYPE -->
        <p class="bold-text" [hidden]="(EffectItem.info_inputs.media.length)">no file</p>


        <div class="flex-row">
            <p class="bold-text" [hidden]="(!EffectItem.info_inputs.media.length)">{{EffectItem.info_inputs.type}} file</p>
        </div>
        <!-- END TYPE -->






        <!-- SIZE -->
        <p class="light-text" [hidden]="(!EffectItem.info_inputs.media.length)">{{(EffectItem.info_inputs.media.length / 1000).toFixed(2)}}KB</p>
        <!-- END SIZE -->
    </div>
    <!-- END INFO -->

    <div class="flex-auto"></div>
















    <!-- PLAY -->
    <div class="std-square flex-row margin-side-med margin-vert" [hidden]="(EffectItem.info_inputs.type != 'audio' && EffectItem.info_inputs.type != 'video')">
        <!-- PLAY -->
        <div class="med-square icon-holder play-icon fill-true-white margin-center margin-vert" [hidden]="(true)" (click)="$event"></div>
        <!-- END PLAY -->



        <!-- PAUSE -->
        <div class="med-square icon-holder pause-icon fill-true-white margin-center margin-vert" [hidden]="(!true)" (click)="$event"></div>
        <!-- END PAUSE -->
    </div>
    <!-- END PLAY -->









    <!-- UPLOAD -->
    <div class="std-height flex-column light-round fill-blue active-opacity margin-side-med margin-vert" style="min-width: 150px;" (click)="triggerFileInput()">
        <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="'upload'" [TextClass]="'small-text margin-center margin-vert'"></common-elements-standard-button-base>
    </div>
    <!-- END UPLOAD -->










    <!-- INPUT -->
    <input #FileInput type="file" accept=".mp3, .wav, .ogg, .mp4, .webm, .gif, .json" (change)="handleFileInput($event)" [hidden]="true">
    <!-- END INPUT -->
</div>