<div class="flex-auto relative fill-dark-shade light-stroke">

    <!-- EFFECTS -->
    <bridge-elements-overlays-effects-base class="overlay-item"></bridge-elements-overlays-effects-base>
    <!-- END EFFECTS -->




    <!-- YOUNOW LIKES -->
    <!-- <bridge-elements-overlays-younow-likes-base class="overlay-item"></bridge-elements-overlays-younow-likes-base> -->
    <!-- END YOUNOW LIKES -->





    <!-- YOUNOW FANS -->
    <!-- <bridge-elements-overlays-younow-top-fans-base class="overlay-item"></bridge-elements-overlays-younow-top-fans-base> -->
    <!-- END YOUNOW FANS -->


</div>