<div class="flex-column margin-med">
    <!-- INPUT -->
    <bridge-elements-binding-box-younow-input-base [hidden]="(Younow.status == 'connected')"></bridge-elements-binding-box-younow-input-base>
    <!-- END INPUT -->





    <!-- INFO -->
    <bridge-elements-binding-box-younow-info-base [hidden]="(Younow.status != 'connected')"></bridge-elements-binding-box-younow-info-base>
    <!-- END INFO -->
</div>