<div class="flex-auto flex-column contained">
    <!-- TOP -->
    <div class="large-height flex-row fill-dark-shade">
        <!-- LIST -->
        <div class="flex-auto flex-row fill-dark-shade padding-side-med" [hidden]="(mode != 'events')">
            <p class="bold-text margin-vert">Chat List</p>

            <div class="flex-auto"></div>

            <div class="med-square icon-holder gear-icon cursor-pointer fill-true-white margin-vert" (click)="changeMode('settings')"></div>
        </div>
        <!-- END LIST -->







        <!-- SETTINGS -->
        <div class="flex-auto flex-row fill-dark-shade padding-side-med" [hidden]="(mode != 'settings')">
            <p class="bold-text margin-vert">Chat Settings</p>

            <div class="flex-auto"></div>

            <div class="med-square icon-holder x-icon cursor-pointer fill-true-white margin-vert" (click)="changeMode('events')"></div>
        </div>
        <!-- END SETTINGS -->
    </div>
    <!-- END TOP -->










    <!-- LIST -->
    <bridge-elements-events-list-base class="flex-auto flex-column contained" [hidden]="(mode != 'events')"></bridge-elements-events-list-base>
    <!-- END LIST -->








    <!-- SETTINGS -->
    <bridge-elements-events-settings-base class="flex-auto flex-column contained" [hidden]="(mode != 'settings')"></bridge-elements-events-settings-base>
    <!-- END SETTINGS -->
</div>