<div class="light-round contained fill-light-shade padding-med margin-med">
    <!-- SENDER -->
    <div class="flex-row margin-med">
        <img class="pfp-holder med-circle" src="" alt="">



        <p class="bold-text margin-side-small margin-vert">trecoolable</p>
    </div>
    <!-- END SENDER -->











    <!-- CONTENT -->
    <div class="margin-med">

        <!-- IMAGE CONTENT -->
        <img class="gift-image giant-square light-round contained" src="{{EventItem.content.image}}" alt="">
        <!-- END IMAGE CONTENT -->

    </div>
    <!-- END CONTENT -->
</div>