<div #EventsListElement class="flex-auto scroll-y">


    <!-- ITEM -->
    <div class="event-item" *ngFor="let item of Events.list">
        <!-- STATUS -->
        <!-- <bridge-elements-events-list-status-item-base *ngIf="(item.type == 'status')" [EventItem]="item"></bridge-elements-events-list-status-item-base> -->
        <!-- END STATUS -->





        <!-- CHAT -->
        <bridge-elements-events-list-chat-item-base *ngIf="(item.type == 'chat')" [EventItem]="item"></bridge-elements-events-list-chat-item-base>
        <!-- END CHAT -->





        <!-- GIFT -->
        <bridge-elements-events-list-gift-item-base *ngIf="(item.type == 'gift')" [EventItem]="item"></bridge-elements-events-list-gift-item-base>
        <!-- END GIFT -->
    </div>
    <!-- END ITEM -->


</div>