<div class="margin-top-med">
    <!-- SPAM -->
    <div class="flex-row padding-small margin-med">
        <!-- PROMPT -->
        <div class="prompt-box flex-auto flex-column padding-small margin-vert">
            <p class="bold-text">Spam Filter</p>
            <p class="small-text light-text">Chat spam breaks text-to-speech.</p>
        </div>
        <!-- END PROMPT -->




        <!-- TOGGLE -->
        <div class="input-box margin-vert">
            <div class="flex-row margin-vert">
                <div class="flex-auto"></div>

                <p class="small-text bold-text margin-side-med margin-vert" [hidden]="(Voices.settings_inputs.spam_filter)">disabled</p>
                <p class="small-text bold-text margin-side-med margin-vert" [hidden]="(!Voices.settings_inputs.spam_filter)">enabled</p>

                <common-elements-slide-toggle-base class="margin-side-small" [Active]="Voices.settings_inputs.spam_filter" (click)="Voices.toggleSpam()"></common-elements-slide-toggle-base>
            </div>
        </div>
        <!-- END TOGGLE -->
    </div>
    <div class="sep-line margin-med"></div>
    <!-- END SPAM -->
















    <!-- LENGTH -->
    <div class="flex-row padding-small margin-med">
        <!-- PROMPT -->
        <div class="prompt-box flex-auto flex-column padding-small margin-vert">
            <p class="bold-text">Chat Length</p>
            <p class="small-text light-text">Limit the number of characters read by text-to-speech.</p>
        </div>
        <!-- END PROMPT -->




        <!-- TOGGLE -->
        <div class="input-box margin-vert" style="width: 120px;">
            <common-elements-standard-text-input-base [Value]="Voices.settings_inputs.character_limit" [TextClass]="'large-text center-text'" [Placeholder]="'120'" (onChange)="Voices.handleChange('character_limit', $event); Voices.saveSettings()" (onEnter)="$event"></common-elements-standard-text-input-base>
        </div>
        <!-- END TOGGLE -->
    </div>
    <div class="sep-line margin-med"></div>
    <!-- END LENGTH -->
</div>