<div class="height-100 flex-row">
    <!-- MONTH INPUT -->
    <div class="flex-auto flex-row light-round fill-light-shade light-stroke" style="max-width: 250px;" (click)="openMonths($event)">
        <div class="flex-auto flex-column padding-small">
            <p class="tiny-text light-text margin-side-med margin-small">Month</p>

            <common-elements-standard-dropdown-label class="flex-auto flex-row" [Value]="month.label" [ValueClass]="'bold-text margin-side-small margin-vert'" [LabelClass]="'margin-med'" [DropClass]="''"></common-elements-standard-dropdown-label>
        </div>




        <!-- CARAT -->
        <div class="small-square icon-holder right-carat-icon fill-true-white margin-side-small margin-vert" style="opacity: 0.6; max-height: 70%; min-height: 0px; mask-size: contain;"></div>
        <!-- END CARAT -->
    </div>
    <!-- MONTH INPUT -->










    <!-- DATE INPUT -->
    <div class="flex-row light-round fill-light-shade light-stroke margin-side-med" (click)="openDates($event)">
        <div class="flex-auto flex-column padding-small">
            <p class="tiny-text light-text margin-side-med margin-small">Date</p>

            <common-elements-standard-dropdown-label class="flex-auto flex-row" [Value]="date.label" [ValueClass]="'bold-text margin-side-small margin-vert'" [LabelClass]="'margin-med'" [DropClass]="''"></common-elements-standard-dropdown-label>
        </div>




        <!-- CARAT -->
        <div class="small-square icon-holder right-carat-icon fill-true-white margin-side-small margin-vert" style="opacity: 0.6; max-height: 70%; min-height: 0px; mask-size: contain;"></div>
        <!-- END CARAT -->
    </div>
    <!-- END DATE INPUT -->











    <!-- YEAR INPUT -->
    <div class="flex-row light-round fill-light-shade light-stroke" (click)="openYears($event)">
        <div class="flex-auto flex-column padding-small">
            <p class="tiny-text light-text margin-side-med margin-small">Year</p>

            <common-elements-standard-dropdown-label class="flex-auto flex-row" [Value]="year.label" [ValueClass]="'bold-text margin-side-small margin-vert'" [LabelClass]="'margin-med'" [DropClass]="''"></common-elements-standard-dropdown-label>
        </div>




        <!-- CARAT -->
        <div class="small-square icon-holder right-carat-icon fill-true-white margin-side-small margin-vert" style="opacity: 0.6; max-height: 70%; min-height: 0px; mask-size: contain;"></div>
        <!-- END CARAT -->
    </div>
    <!-- END YEAR INPUT -->
</div>










<!-- SELECT BOX -->
<common-elements-standard-dropdown-box [Options]="options" *ngIf="(dropdown)" [Value]="dropdown_value" (onSelect)="handleSelect($event)" (onClose)="dropdown = false"></common-elements-standard-dropdown-box>
<!-- END SELECT BOX -->