<div class="flex-row contained margin-med">
    <!-- INPUT -->
    <common-elements-standard-text-input-base class="flex-auto" [Value]="Younow.identifier" [TextClass]="'large-text'" [Placeholder]="'broadcaster name'" (onChange)="Younow.identifier = $event" (onEnter)="Younow.connect()" [MessageClass]="''"></common-elements-standard-text-input-base>
    <!-- END INPUT -->




    <!-- CONNECT -->
    <div class="large-height light-round contained fill-green margin-side-small" style="width: 120px;" (click)="Younow.connect()">
        <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="'Connect'" [TextClass]="'bold-text margin-center margin-vert'" [hidden]="(false)"></common-elements-standard-button-base>
    </div>
    <!-- END CONNECT -->
</div>








<!-- HINT -->
<div class="margin-med">
    <p class="small-text light-text">Copy and paste in your streamer username or if that does not work use your userid and hit start to connect.</p>
</div>
<!-- END HINT -->