<div class="height-100 width-100 flex-row relative contained cursor-pointer" (click)="handleClick($event)">
    <div class="flex-auto flex-row {{LabelClass}}">
        <!-- IMAGE ICON -->
        <img class="contained margin-vert {{IconClass}}" *ngIf="(IconType == 'image')" src="{{IconSrc}}" alt="">
        <!-- END IMAGE ICON -->



        <!-- MASK ICON -->
        <div class="icon-holder margin-vert {{IconClass}} {{IconFill}}" *ngIf="(IconType == 'mask')" [ngStyle]="{'mask-image': (IconSrc)}"></div>
        <!-- END MASK ICON -->



        <!-- MASK ICON -->
        <div class="icon-holder margin-vert {{IconClass}} {{IconName}} {{IconFill}}" *ngIf="(IconType == 'name' && IconName != '')" [ngStyle]="{'background-color': (IconFill)}"></div>
        <!-- END MASK ICON -->







        <!-- VALUE -->
        <p class="flex-auto one-line contained {{ValueClass}}">{{Value}}</p>
        <!-- END VALUE -->






        <!-- CARAT -->
        <div class="icon-holder right-carat-icon {{DropClass}}" style="opacity: 0.6; max-height: 70%; min-height: 0px; mask-size: contain;"></div>
        <!-- END CARAT -->






        <!-- SPLASH -->
        <common-elements-splash-base #SplashElement class="height-100 width-100 absolute inactive-events" style="top: 0px; left: 0px;" [SplashSize]="SplashSize" [SplashColor]="SplashColor" *ngIf="(SplashColor.length)"></common-elements-splash-base>
        <!-- END SPLASH -->
    </div>
</div>