<div class="radio-holder" #TargetElement>

    <!-- BORDER CIRCLE -->
    <div class="radio-circle" (click)="handleClick($event)">

        <!-- DOT -->
        <div class="radio-dot"></div>
        <!-- END DOT -->

    </div>
    <!-- END BORDER CIRCLE -->







    <!-- SPLASH -->

    <div class="splash-holder">
        <div class="splash-item" *ngFor="let item of splash_events" [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
            <div class="splash-dot"></div>
        </div>
    </div>
    <!-- <div class="radio-splash-holder">
        <div class="radio-splash"></div>
    </div> -->
    <!-- END SPLASH -->

</div>