/* TOGGLE */
.radio-holder {
    position: relative;
    height: 100%;
    width: 100%;
}


.radio-circle {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    border: 3px solid #54636f;
    cursor: pointer;
    margin: -3px;
}

.radio-dot {
    height: 88%;
    width: 88%;
    margin: 6%;
    border-radius: 50%;
    background-color: #25c673;
}

/* END TOGGLE */













/* SPLASH */

.splash-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
}

.splash-item {
    position: absolute;
    width: 10px;
    height: 10px;
}

.splash-dot {
    position: absolute;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(20, 20, 22, 0.2);
    animation: splash 1500ms forwards;
}

@keyframes splash {
    0% {
        top: 0px;
        left: 0px;
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    50% {
        top: -150px;
        left: -200px;
        width: 400px;
        height: 300px;
    }

    55% {
        opacity: 0;
    }

    100% {
        top: -300px;
        left: -350px;
        opacity: 0;
        width: 700px;
        height: 600px;
    }
}

/* END SPLASH */