<div class="flex-auto scroll-y">
    <div class="small-height"></div>


    <!-- VOICES -->
    <div class="">
        <p class="light-text bold-text padding-side-small margin-med">Voices</p>

        <bridge-elements-events-settings-voices-section-base></bridge-elements-events-settings-voices-section-base>

        <div class="small-height"></div>
    </div>
    <!-- END VOICES -->






    <!-- SPAM -->
    <div class="">
        <p class="light-text bold-text padding-side-small margin-med">Spam</p>


        <bridge-elements-events-settings-spam-section-base></bridge-elements-events-settings-spam-section-base>

        <div class="small-height"></div>
    </div>
    <!-- END SPAM -->






    <!-- FILTERS -->
    <div class="">
        <p class="light-text bold-text padding-side-small margin-med">Filters</p>


        <bridge-elements-events-settings-filters-section-base></bridge-elements-events-settings-filters-section-base>

        <div class="small-height"></div>
    </div>
    <!-- END FILTERS -->



    <div class="large-height"></div>
</div>