<div class="overlay-fixed flex-row" *ngIf="(true)" [ngClass]="{'opened': (Opened == 1), 'closed': (Opened != 1)}">
    <div class="overlay-back fill-overlay" (click)="close()"></div>



    <div class="overlay-box flex-column med-round relative contained fill-white low-shadow margin-center margin-vert">
        <!-- TOP -->
        <div class="fill-dark-shade">
            <!-- TITLE -->
            <div class="large-height flex-row padding-med">
                <p class="large-text bold-text center-text margin-center margin-vert">Search Effects</p>
            </div>
            <!-- END TITLE -->








            <!-- SEARCH -->
            <div class="flex-row contained padding-med">
                <!-- INPUT -->
                <common-elements-standard-text-input-base class="flex-auto" [Value]="search_input" [TextClass]="'large-text'" [Placeholder]="'search by name'" (onChange)="search_input = $event; handleSearchChange();" (onEnter)="handleSearchChange()"></common-elements-standard-text-input-base>
                <!-- END INPUT -->







                <!-- CLEAR -->
                <div class="std-square icon-holder x-icon cursor-pointer fill-light-text margin-side-med margin-vert" (click)="search_input = '';"></div>
                <!-- END CLEAR -->
            </div>
            <!-- END SEARCH -->
        </div>
        <!-- END TOP -->














        <!-- EFFECTS -->
        <div class="flex-auto flex-row flex-wrap scroll-y padding-small" style="height: -webkit-fill-available;">

            <!-- ITEMS -->
            <div class="effect-item relative" *ngFor="let item of effects_list">
                <bridge-elements-effects-select-box-item-base class="flex-auto flex-row" [EffectId]="item" (onSelect)="handleSelect($event)"></bridge-elements-effects-select-box-item-base>
            </div>
            <!-- END ITEMS -->

        </div>
        <!-- END EFFECTS -->












        <!-- CLOSE -->
        <div class="close-button med-height light-round absolute active-opacity fill-red margin-large" style="top: 0px; right: 0px;" (click)="close()">
            <common-elements-standard-button-base class="margin-vert" [ButtonClass]="'padding-side-small'" [TextClass]="'tiny-text margin-side-small margin-vert'" [Text]="'close'" [SplashColor]="'rgba(35,30,42,0.3)'"></common-elements-standard-button-base>
        </div>
        <!-- END CLOSE -->
    </div>


</div>