/* OVERLAY */
.overlay-box {
    min-width: 300px;
    max-width: 550px;
    width: 65%;
    min-height: 300px;
    max-height: 800px;
    height: 85%;
}

/* END OVERLAY */









/* ITEMS */
.effect-item {
    min-width: 100px;
    max-width: 220px;
    width: 33.3%;
}

/* END ITEMS */