<div class="margin-top-med">
    <!-- YOUNOW BARS -->
    <div class="flex-row padding-small margin-med">
        <!-- PROMPT -->
        <div class="prompt-box flex-auto flex-column padding-small margin-vert">
            <p class="bold-text">YouNow Bars Filter</p>
            <p class="small-text light-text">Only allow audience members who have sent a minimum amount of bars to show in chat.</p>
        </div>
        <!-- END PROMPT -->




        <!-- TOGGLE -->
        <div class="input-box margin-vert" style="width: 120px;">
            <common-elements-standard-text-input-base [Value]="'0'" [TextClass]="'large-text center-text'" [Placeholder]="'5'" (onChange)="$event" (onEnter)="$event"></common-elements-standard-text-input-base>
        </div>
        <!-- END TOGGLE -->
    </div>
    <div class="sep-line margin-med"></div>
    <!-- END YOUNOW BARS -->










    <!-- DIRECT BOOSTER -->
    <div class="flex-row padding-small margin-med">
        <!-- PROMPT -->
        <div class="prompt-box flex-auto flex-column padding-small margin-vert">
            <p class="bold-text">D2S Booster Filter</p>
            <p class="small-text light-text">Only allow audience members who have a minimum boost level to show in chat.</p>
        </div>
        <!-- END PROMPT -->




        <!-- TOGGLE -->
        <div class="input-box margin-vert" style="width: 120px;">
            <common-elements-standard-text-input-base [Value]="'0'" [TextClass]="'large-text center-text'" [Placeholder]="'5'" (onChange)="$event" (onEnter)="$event"></common-elements-standard-text-input-base>
        </div>
        <!-- END TOGGLE -->
    </div>
    <div class="sep-line margin-med"></div>
    <!-- END DIRECT BOOSTER -->
</div>