<div class="flex-row" *ngIf="(EffectItem != null)">

    <div class="light-round fill-light-shade padding-small margin-vert" style="width: 70px;">
        <p class="center-text margin-center">{{(EffectItem.Settings.settings_inputs.volume * 10).toFixed(0)}}</p>
    </div>

    <div class="flex-auto margin-side-med margin-vert">
        <common-elements-single-range-base class="margin-side-med margin-vert" [Step]="0.1" [TopValue]="EffectItem.Settings.settings_inputs.volume" (onTop)="EffectItem.Settings.settings_inputs.volume = $event" [MinValue]="0" [MaxValue]="1" [BarHeight]="10" [BarColor]="'#3aa1d6'" [DotSize]="'small-dots'"></common-elements-single-range-base>
    </div>



</div>