<div class="height-100 width-100 flex-row relative contained cursor-pointer {{ButtonClass}}" (click)="handleClick($event)">
    <!-- IMAGE ICON -->
    <img class="contained {{IconClass}}" *ngIf="(IconType == 'image')" src="{{IconSrc}}" alt="">
    <!-- END IMAGE ICON -->



    <!-- MASK ICON -->
    <div class="icon-holder {{IconClass}} {{IconFill}}" *ngIf="(IconType == 'mask')" [ngStyle]="{'mask-image': (IconSrc)}"></div>
    <!-- END MASK ICON -->



    <!-- MASK ICON -->
    <div class="icon-holder {{IconClass}} {{IconName}} {{IconFill}}" *ngIf="(IconType == 'name' && IconName != '')"></div>
    <!-- END MASK ICON -->







    <!-- TEXT -->
    <p class="{{TextClass}}">{{Text}}</p>
    <!-- END TEXT -->






    <!-- SPLASH -->
    <common-elements-splash-base #SplashElement class="height-100 width-100 absolute inactive-events" style="top: 0px; left: 0px;" [SplashSize]="SplashSize" [SplashColor]="SplashColor" *ngIf="(SplashColor.length)"></common-elements-splash-base>
    <!-- END SPLASH -->
</div>