<div class="overlay-fixed flex-row" *ngIf="(EffectItem != null)" [ngClass]="{'opened': (Opened == 1), 'closed': (Opened != 1)}">
    <div class="overlay-back fill-overlay" (click)="close()"></div>



    <div class="overlay-box flex-column med-round relative contained fill-white low-shadow margin-center margin-vert">
        <!-- TOP -->
        <div class="fill-dark-shade">
            <!-- TITLE -->
            <div class="large-height flex-row padding-med">
                <p class="large-text bold-text center-text margin-center margin-vert">Add Effect</p>
            </div>
            <!-- END TITLE -->
        </div>
        <!-- END TOP -->














        <!-- SECTIONS -->
        <div class="flex-auto flex-column scroll-y padding-med" style="height: -webkit-fill-available;">
            <!-- NAME -->
            <div class="flex-column margin-med">
                <p class="small-text margin-small">name</p>


                <common-elements-standard-text-input-base [Value]="EffectItem.info_inputs.name" [TextClass]="'large-text'" [Placeholder]="'effect name'" (onChange)="EffectItem.handleChange('name', $event)" (onEnter)="$event"></common-elements-standard-text-input-base>


                <div class="med-height flex-column">
                    <p class="small-text red-text margin-side-small margin-vert" *ngIf="(EffectItem.input_messages.name)">{{EffectItem.input_messages.name.message}}</p>
                </div>
            </div>
            <!-- END NAME -->










            <!-- FILE -->
            <div class="flex-column margin-med">
                <p class="small-text margin-small">file</p>


                <bridge-elements-effects-add-box-file-input-base [EffectItem]="EffectItem"></bridge-elements-effects-add-box-file-input-base>


                <div class="med-height flex-column">
                    <p class="small-text red-text margin-side-small margin-vert" *ngIf="(EffectItem.input_messages.media)">{{EffectItem.input_messages.media.message}}</p>
                </div>
            </div>
            <!-- END FILE -->

            <div class="flex-auto"></div>









            <!-- ADD -->
            <div class="margin-med">
                <!-- MESSAGE -->
                <div class="std-height flex-column">
                    <p class="center-text margin-center margin-vert" [ngClass]="{'red-text': (EffectItem.message.status == 'error'), 'green-text': (EffectItem.message.status == 'success')}">{{EffectItem.message.message}}</p>
                </div>
                <!-- END MESSAGE -->







                <!-- SAVE -->
                <div class="large-height light-round contained fill-green margin-med" [ngClass]="{'fill-green': (status != 'error'), 'fill-red': (status == 'error')}" (click)="saveInputs()">
                    <common-elements-loading-animation-base class="margin-center margin-vert" style="height: 50%; width: 50px;" #LoadingLottie [hidden]="(!status.length)"></common-elements-loading-animation-base>


                    <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="'Add Effect'" [TextClass]="'bold-text margin-center margin-vert'" [hidden]="(status.length)"></common-elements-standard-button-base>
                </div>
                <!-- END SAVE -->
            </div>
            <!-- END ADD -->
        </div>
        <!-- END SECTIONS -->











        <!-- CLOSE -->
        <div class="close-button med-height light-round absolute active-opacity fill-red margin-large" style="top: 0px; right: 0px;" (click)="close()">
            <common-elements-standard-button-base class="margin-vert" [ButtonClass]="'padding-side-small'" [TextClass]="'tiny-text margin-side-small margin-vert'" [Text]="'close'" [SplashColor]="'rgba(35,30,42,0.3)'"></common-elements-standard-button-base>
        </div>
        <!-- END CLOSE -->
    </div>


</div>