<div class="height-100 width-100">
    <video class="height-100 width-100" #VideoElement [ngStyle]="{'object-fit': ((Cover) ? 'cover' : 'contain')}" volume="{{(Muted ? 0 : 1)}}" height="100%" width="100%"></video>
</div>