<div class="flex-column">
    <!-- GREETING SELECT -->
    <div class="input-strip flex-column margin-med">
        <p class="bold-text">Greeting Effect</p>



        <!-- VALUE -->
        <div class="input-box">
            <common-elements-standard-dropdown-label class="large-height flex-row margin-top-med" (click)="toggleGreetingOpened()" [Value]="(false)? '' : 'No Greeting'" [IconType]="'name'" [IconName]="'sound-on-icon'" [IconClass]="'med-square fill-light-text margin-side-med margin-vert'"></common-elements-standard-dropdown-label>

            <common-elements-voices-select-overlay-base *ngIf="(greeting_opened != -1)" [Opened]="greeting_opened" [Value]="''" (onClose)="toggleGreetingOpened()" (onSelect)="handleGreetingSelect($event)"></common-elements-voices-select-overlay-base>
        </div>
        <!-- END VALUE -->
    </div>
    <div class="sep-line"></div>
    <!-- END GREETING SELECT -->




</div>