<div class="flex-row margin-med">
    <!-- IMAGE -->
    <img class="std-circle pfp-holder margin-side-small margin-vert" src="https://ynassets.younow.com/user/live/{{Younow.younow_id}}/{{Younow.younow_id}}.jpg" alt="">
    <!-- END IMAGE -->







    <!-- INFO -->
    <div class="flex-auto flex-column contained margin-side-small margin-vert">
        <!-- USERNAME -->
        <p class="bold-text one-line contained">Connected to Stream!</p>
        <!-- END USERNAME -->


        <!-- HINT -->
        <p class="small-text light-text one-line contained">tell your friends about this app!</p>
        <!-- END HINT -->
    </div>
    <!-- END INFO -->






    <!-- STATUS DOT -->
    <div class="small-circle fill-green margin-side-med margin-vert"></div>
    <!-- END STATUS DOT -->
</div>