/* BAR */
.range-bar {
    /* width: 100%; */
}

/* END BAR */





/* RANGE */
.range-holder {
    margin: auto 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    height: 10px;
    width: 100%;
}


.range-slider {
    position: relative;
    margin: auto 0px;
    height: 0px;
    width: 100%;
    background-color: transparent;
    outline: none;
    -webkit-appearance: none;
    pointer-events: none;
}


.range-slider::-webkit-slider-thumb {
    position: relative;
    right: 15px;
    height: 27px;
    width: 27px;
    background-color: rgb(236, 241, 247);
    border-radius: 50%;
    transform: scale(1);
    z-index: 1;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    pointer-events: all;
}


.range-slider.small-rectangles::-webkit-slider-thumb {
    position: relative;
    right: 15px;
    height: 18px;
    width: 12px;
    background-color: rgb(236, 241, 247);
    border-radius: 3px;
    transform: scale(1);
    z-index: 1;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    pointer-events: all;
}


/* END RANGE */