/* PLACEHOLDER */
.placeholder-box {
    position: relative;
    right: 2px;
    width: max-content;
    border-radius: 7px;
    background-color: rgb(15 22 27 / 55%);
    opacity: 1;
    transform: scale(0.95);
    animation: loadPulse 1200ms infinite;
}

@keyframes loadPulse {
    0% {
        opacity: 0.3;
    }

    20% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.placeholder-text {
    opacity: 0;
}

/* END PLACEHOLDER */