<div class="placeholder-box relative" [ngStyle]="{'animation-delay': (delay * 10) + 'ms'}" *ngIf="(!Text.length)">
    <p class="placeholder-text {{TextClass}}">{{Placeholder}}</p>
</div>


<p class="{{TextClass}}" *ngIf="(Text.length)">{{Text}}</p>