<div class="padding-med">

    <!-- ITEMS -->
    <div class="relative light-round fill-light-shade margin-med margin-top-large" *ngFor="let item of Brackets.platforms.younow">
        <bridge-elements-gifts-settings-brackets-section-item-base [BracketId]="item" [Platform]="'younow'"></bridge-elements-gifts-settings-brackets-section-item-base>
    </div>
    <!-- END ITEMS -->

</div>