<div class="light-round contained fill-light-shade padding-med margin-med">

    <!-- TOP -->
    <div class="flex-row margin-med" *ngIf="(Account != null)">
        <!-- SENDER -->
        <div class="flex-row cursor-pointer contained" (click)="toggleSettingsOpened()">
            <img class="pfp-holder med-circle" src="{{Account.info.profile_pic}}" alt="">



            <p class="bold-text margin-side-small margin-vert">{{Account.info.name}}</p>
        </div>
        <!-- END SENDER -->

        <div class="flex-auto"></div>







        <!-- VOICE -->
        <div class="small-square icon-holder sound-on-icon cursor-pointer margin-side-small margin-vert" (click)="toggleHIghlight()" [ngClass]="{'fill-green': (Account.Voice.settings.highlight), 'fill-light-text': (!Account.Voice.settings.highlight)}"></div>
        <!-- END VOICE -->
    </div>
    <!-- END TOP -->











    <!-- CONTENT -->
    <div class="margin-med">
        <!-- TEXT -->
        <p class="large-text">{{EventItem.content}}</p>
        <!-- END TEXT -->

    </div>
    <!-- END CONTENT -->
</div>













<!-- ACCOUNT -->
<bridge-elements-accounts-item-settings-box-base *ngIf="(Account != null && settings_opened != -1)" [Opened]="settings_opened" [PlatformId]="Account.platform_id" [Platform]="Account.platform" (onClose)="toggleSettingsOpened()"></bridge-elements-accounts-item-settings-box-base>
<!-- END ACCOUNT -->