/* BOX */
.input-box {
    position: relative;
    left: 0px;
}

.input-box.error {
    animation: errorShake 500ms forwards;
}

@keyframes errorShake {
    0% {
        left: 0px;
    }

    10% {
        left: -7px;
    }

    30% {
        left: 7px;
    }

    50% {
        left: -5px;
    }

    60% {
        left: 5px;
    }

    70% {
        left: -3px;
    }

    80% {
        left: 3px;
    }

    100% {
        left: 0px;
    }
}

/* END BOX */













/* STATUS */
.status-background {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

/* END STATUS */












/* MESSAGE */
.message-text {
    position: relative;
    top: -10px;
    opacity: 0;
    transition: all 90ms ease-in;
}

.message-text.show {
    top: 0px;
    opacity: 1;
}

/* END MESSAGE */