<div class="input-holder width-100 flex-column relative" (click)="handleClick($event)">


    <!-- INPUT HOLDER -->
    <div class="input-box relative contained {{InputClass}}">
        <!-- STATUS BACKGROUND -->
        <!-- <div class="status-background fill-red absolute inactive-events"></div> -->
        <!-- END STATUS BACKGROUND -->





        <!-- INPUT -->
        <input class="height-100 flex-auto {{TextStyle}} {{TextClass}}" style="padding: 0px 10px; min-width: 0px;width: -webkit-fill-available;" type="{{InputType}}" placeholder="{{Placeholder}}" (keyup)="handleChange($event)" (keydown.enter)="handleEnter($event)" [(ngModel)]="Value">
        <!-- END INPUT -->





        <!-- SPLASH -->
        <common-elements-splash-base #SplashElement class="height-100 width-100 absolute inactive-events" style="top: 0px; left: 0px;" [SplashSize]="SplashSize" [SplashColor]="SplashColor" *ngIf="(SplashColor.length)"></common-elements-splash-base>
        <!-- END SPLASH -->
    </div>
    <!-- END INPUT HOLDER -->










    <!-- MESSAGE -->
    <!-- <div class="flex-row {{MessageBoxClass}}" *ngIf="(MessageClass.length || Message != undefined || Message.length)">
        <p class="message-text margin-vert {{MessageClass}}" *ngIf="(Message != undefined && Message.length)" [ngClass]="{'show': (Message.length), 'green-text': (Status == 'success'), 'red-text': (Status == 'error')}">{{Message}}</p>
    </div> -->
    <!-- END MESSAGE -->
</div>