<div class="holder-box height-100 width-100 relative">

    <!-- ITEMS -->
    <div class="height-100 width-100 absolute" style="top: 0px; left: 0px;" *ngFor="let item of Playing.list">
        <bridge-elements-overlays-effects-item-base class="height-100 width-100 relative" [EffectId]="item"></bridge-elements-overlays-effects-item-base>
    </div>
    <!-- END ITEMS -->


</div>