<div class="flex-auto flex-column light-round fill-white">



    <!-- LIST -->
    <div class="flex-auto flex-row flex-wrap">
        <!-- ADD -->
        <div class="effect-item relative" style="height: fit-content;">
            <div class="add-strecher width-100" style="padding-top: 90%;"></div>


            <div class="height-100 width-100 absolute" style="top: 0px; left: 0px;" (click)="toggleAddOpened()">
                <div class="height-100 width-100 flex-column">
                    <div class="flex-auto flex-column light-round relative cursor-pointer fill-light-shade light-stroke margin-med">
                        <div class="flex-row margin-center margin-vert">
                            <div class="small-square icon-holder plus-icon fill-light-text"></div>

                            <p class="small-text light-text margin-side-small">Add Effect</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="med-square icon-holder info-icon absolute cursor-pointer fill-light-text margin-med" style="top: 10px; right: 10px;" (click)="toggleAddHintOpened(true)"></div>



            <!-- TUTORIAL -->
            <bridge-elements-tutorials-mini-box-base class="absolute" style="right: 0px; top: -200px;" *ngIf="(Tutorials.display_id == display_id && add_hint_opened != -1)" [RightBox]="true" [Title]="hint_title" [Hint]="hint_content" [Image]="hint_image" [Opened]="(add_hint_opened)" (onClose)="toggleAddHintOpened()"></bridge-elements-tutorials-mini-box-base>
            <!-- END TUTORIAL -->
        </div>
        <!-- END ADD -->








        <!-- ITEMS -->
        <div class="effect-item relative" *ngFor="let item of effects_list">
            <bridge-elements-effects-board-item-base class="flex-auto flex-row" [EffectId]="item"></bridge-elements-effects-board-item-base>
        </div>
        <!-- END ITEMS -->
    </div>
    <!-- END LIST -->


</div>








<!-- ADD -->
<bridge-elements-effects-add-box-base *ngIf="(add_opened != -1)" [Opened]="(add_opened)" (onAdd)="handleAdded($event)" (onClose)="toggleAddOpened()"></bridge-elements-effects-add-box-base>
<!-- END ADD -->