@import url('https://fonts.googleapis.com/css?family=Lato:regular,bold');




/* ALL ELEMENTS */
* {
    font-family: Lato;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    flex-shrink: 0;
    color: #2B3D58;
}

[hidden] {
    display: none !important;
}

/* END ALL ELEMENTS */











/* MAJOR CONTAINERS */

html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #FAFCFF;
}

body {
    margin: 0;
    padding: 0;
    font-family: Lato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

.App {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#root {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    background-color: #fefefe;
}

/* END MAJOR CONTAINERS */








/* SCROLL */
/* width */
::-webkit-scrollbar {
    width: 12px;
    margin-left: 5px;
    border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(35, 32, 37, 0.47);
    border-radius: 30px;
}

/* END SCROLL */









/* MARGIN/PADDING */

/* --margins-- */
.margin-vert {
    margin-top: auto;
    margin-bottom: auto;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.margin-small {
    margin: 3px;
}

.margin-med {
    margin: 5px;
}

.margin-left-med {
    margin-left: 5px;
}

.margin-right-med {
    margin-right: 5px;
}

.margin-large {
    margin: 15px 15px;
}

.margin-side-small {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-left-small {
    margin-left: 3px;
}

.margin-right-small {
    margin-right: 3px;
}

.margin-side-large {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-top-small {
    margin-top: 5px;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

.margin-side-med {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-top-med {
    margin-top: 10px;
}

.margin-bottom-med {
    margin-bottom: 10px;
}

.margin-top-large {
    margin-top: 15px;
}

.margin-bottom-large {
    margin-bottom: 20px;
}


/* --padding-- */
.no-padding {
    padding: 0px;
}

.padding-large {
    padding: 15px;
}

.padding-med {
    padding: 10px 10px;
}

.padding-side-large {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-small {
    padding: 5px;
}

.padding-side-small {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-side-med {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-top-small {
    padding-top: 5px;
}

.padding-bottom-small {
    padding-bottom: 5px;
}

.padding-side-med {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-top-med {
    padding-top: 10px;
}

.padding-bottom-med {
    padding-bottom: 10px;
}

/* END MARGIN/PADDING */








/* DISPLAY/POSITION */

/* --flex-- */
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flex-auto {
    flex: auto;
}

.justify-center {
    justify-content: center;
}


/* --block-- */
.block {
    display: block;
}


/* --inline-- */
.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}


/* --absolute-- */
.absolute {
    position: absolute;
}


/* --relative-- */
.relative {
    position: relative;
}

/* END DISPLAY/POSITION */









/* VIDEO */
video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

/* END VIDEO */












/* BACKGROUND */
.bg-cover {
    background-size: cover;
    background-position: center;
}

.bg-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* END BACKGROUND */












/* PARAGRAPH */
p {
    font-size: 16px;
    color: #2B3D58;
    white-space: pre-wrap;
    pointer-events: none;
    user-select: none;
}

a {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

/* --size-- */
.tiny-text {
    font-size: 13px;
}

.small-text {
    font-size: 14px;
}

.large-text {
    font-size: 20px;
}

.giant-text {
    font-size: 25px;
}

.great-text {
    font-size: 33px;
    font-weight: bold;
}


/* --weight-- */
.bold-text {
    font-weight: bold;
}


/* --alignment-- */
.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}


/* --width-- */
.one-line {
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* --color-- */
.dark-text {
    color: #2B3D58;
}

p.light-text {
    color: #78879D;
}

span.light-text {
    color: #78879D;
}

button.light-text {
    color: #78879D;
}

div.light-text {
    background-color: #78879D;
}

.white-text {
    color: #fff;
}

p.green-text {
    color: rgb(29, 157, 95);
}

p.red-text {
    color: #FF4848;
}

p.blue-text {
    color: #7683FF;
}

p.gold-text {
    color: #FFA723;
}

p.flamingo-text {
    color: #B337FF;
}


/* END PARAGRAPH */








/* BUTTONS */
button {
    outline: none;
    border: none;
    color: #fff;
    background-color: #222;
    padding: 0px 15px;
    border-radius: 50px;
    transition: all 250ms;
}

.button-main {
    outline: none;
    border: none;
    color: #fff;
    background-color: #222;
    padding: 0px 15px;
    border-radius: 50px;
    transition: all 250ms;
}

.button-main.no-padding {
    padding: 0px;
}

button:hover {
    filter: brightness(0.9) saturate(1.2);
    cursor: pointer;
}

.button-main:hover {
    filter: brightness(0.9) saturate(1.2);
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer !important;
    pointer-events: all;
}

.inactive-events {
    pointer-events: none;
}

.active-events {
    pointer-events: all;
}

/* END BUTTONS */










/* INPUTS */
input {
    outline: none;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    background-color: transparent;
    font-size: 16;
    min-width: 0px;
}

input::placeholder {
    opacity: 0.55;
}

textarea {
    outline: none;
    border: none;
    padding: 10px;
    background-color: transparent;
    font-size: 16;
    min-width: 0px;
    resize: none;
}

/* END INPUTS */








/* PROFILE PIC */
.pfp-holder {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://www.prodapt.com/wp-content/uploads/user-icon.png');
    background-color: #fefefe;
    object-fit: cover;
    object-position: center;
}

/* END PROFILE PIC */









/* ICONS */
.icon-holder {
    mask-size: 93%;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url('https://image.flaticon.com/icons/svg/64/64605.svg');
}

/* END ICONS */








/* OVERLAY */
.overlay-fixed {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 20;
}

.overlay-fixed>* {
    z-index: 20;
}

.overlay-absolute {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 20;
}

.overlay-absolute>* {
    z-index: 20;
}

.overlay-back {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(19, 25, 34);
    opacity: 0;
    z-index: -1;
    transition: all 120ms ease;
}

.overlay-fixed.opened>.overlay-back {
    opacity: 0.7;
}


.overlay-box {
    z-index: 25;
}

.overlay-fixed.opened>.overlay-box {
    animation: boxPop 500ms forwards;
}

@keyframes boxPop {
    0% {
        top: 150%;
    }

    40% {
        top: -10px;
    }

    60% {
        top: 5px;
    }

    100% {
        top: 0px;
    }
}


.overlay-fixed.closed>.overlay-box {
    animation: boxHide 150ms forwards;
}

@keyframes boxHide {
    0% {
        top: 0px;
    }

    60% {
        top: -7px;
    }

    80% {
        top: -10px;
    }

    100% {
        top: 150%;
    }
}




@media only screen and (max-width: 600px) {
    .overlay-box {
        min-height: 100% !important;
        min-width: 100% !important;
    }
}

/* END OVERLAY */











/* HINTS */
.hint-holder:hover>.hint-bubble {
    opacity: 1;
    bottom: -35px;
}

.hint-bubble {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    padding: 5px 7px;
    bottom: 5px;
    width: max-content;
    border-radius: 30px;
    background-color: #fff;
    border: 2px solid #8a97ad;
    transition: all 250ms ease;
    pointer-events: none;
    opacity: 0;
    z-index: 10;
}

/* END HINTS */









/* SEPARATORS */
.sep-line {
    min-height: 1px;
    height: 1px;
    box-shadow: 0px 2px 0.5px rgba(10, 50, 55, 0.2);
}

.vert-sep-line {
    height: 100%;
    width: 1px;
    border-right: 1px solid rgba(10, 50, 55, 0.2);
}

/* END SEPARATORS */










/* SIZES */

/* --height-- */
.small-height {
    height: 18px;
}

.med-height {
    height: 27px;
}

.std-height {
    height: 36px;
}

.large-height {
    height: 47px;
}


/* --width-- */
.content-width {
    width: max-content;
}


/* --square-- */
.tiny-square {
    height: 12px;
    min-height: 12px;
    width: 12px;
    min-width: 12px;
}

.small-square {
    height: 18px;
    min-height: 18px;
    width: 18px;
    min-width: 18px;
}

.med-square {
    height: 23px;
    min-height: 23px;
    width: 23px;
    min-width: 23px;
}

.std-square {
    height: 36px;
    min-height: 36px;
    width: 36px;
    min-width: 36px;
}

.large-square {
    height: 47px;
    min-height: 47px;
    width: 47px;
    min-width: 47px;
}

.giant-square {
    height: 75px;
    min-height: 75px;
    width: 75px;
    min-width: 75px;
}


/* --circle-- */
.tiny-circle {
    height: 10px;
    min-height: 10px;
    width: 10px;
    min-width: 10px;
    border-radius: 50%;
}

.small-circle {
    height: 18px;
    min-height: 18px;
    width: 18px;
    min-width: 18px;
    border-radius: 50%;
}

.med-circle {
    height: 27px;
    min-height: 27px;
    width: 27px;
    min-width: 27px;
    border-radius: 50%;
}

.std-circle {
    height: 36px;
    min-height: 36px;
    width: 36px;
    min-width: 36px;
    border-radius: 50%;
}

.large-circle {
    height: 47px;
    min-height: 47px;
    width: 47px;
    min-width: 47px;
    border-radius: 50%;
}

/* --relative-- */
.expanded {
    height: 100%;
    width: 100%;
}

.height-100 {
    height: 100%;
}

.height-50 {
    height: 50%;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

/* END SIZES */









/* CONTAINMENT */
.contained {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-size: contain;
    mask-size: contain;
}

img.contained {
    overflow: hidden;
    object-fit: contain;
    background-size: contain;
    mask-size: contain;
}

.scroll-y {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.contained.scroll-y {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-x::-webkit-scrollbar {
    display: none;
    opacity: 0;
}

.contained.scroll-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    opacity: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* END CONTAINMENT */








/* IMAGE */
img {
    outline: none;
    border: none;
}

/* END IMAGE */










/* SHADOWS */
.low-shadow {
    box-shadow: 0px 1px 6px 2px rgba(13, 46, 50, 0.07);
}

.large-shadow {
    box-shadow: 0px 1px 30px rgba(13, 46, 50, 0.2);
}

.image-shadow {
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));
}

/* END SHADOWS */









/* BORDER */

/* --radius-- */
.no-round {
    border-radius: 0px;
}

.light-round {
    border-radius: 7px;
}

.med-round {
    border-radius: 10px;
}

.heavy-round {
    border-radius: 15px;
}

.pill-round {
    border-radius: 50px;
}

.circle-round {
    border-radius: 50%;
}


/* --stroke-- */
.light-stroke {
    border: 1px solid #a4c9e3;
}

/* END BORDER */








/* COLORS */
.active-opacity {
    opacity: .6;
}

.active-opacity:hover {
    opacity: 1;
}

.active-opacity.active {
    opacity: 1;
}

/* light bg */
.fill-light {
    background-color: #FAFCFF;
}


/* dark */
.fill-dark {
    background-color: #2B3D58;
}


.fill-overlay {
    background-color: rgba(20, 22, 34, 0.7);
}


/* white */
.fill-white {
    background-color: #fff;
}


/* light shade */
.fill-light-shade {
    background: rgba(21, 23, 28, 0.6);
}

/* error */
.fill-error {
    background: rgba(216, 19, 19, 0.15);
}


/* dark shade */
.fill-dark-shade {
    background: rgba(187, 238, 238, 0.5);
}

/* light text */
.fill-light-text {
    background-color: #78879D;
}

/* transparent */
.fill-transparent {
    background-color: transparent;
}


/* green */
.fill-green {
    background: linear-gradient(93.74deg, #00E677 0%, #00E6AE 0%, #00E685 26.68%, #00E677 62.13%, #00E5AE 100%);
}


/* red */
.fill-red {
    background: linear-gradient(93.31deg, #FF4848 0%, #F74242 26.68%, #F03C3C 62.13%, #FF4C4C 100%);
}


/* blue */
.fill-blue {
    background-color: #58acef;
}


/* inactive */
.fill-inactive {
    /* background: linear-gradient(93.58deg, #5B699A 0%, #50629F 25.21%, #5360A5 78.85%, #5765AB 99.69%); */
    opacity: .5;
}


/* gold */
.fill-gold {
    background: linear-gradient(93.67deg, #FFC32A 0%, #FFA723 26.68%, #FFB31E 62.13%, #FFC52E 100%);
}


/* flamingo */
.fill-flamingo {
    background: linear-gradient(93.85deg, #EF8F36 0%, #FF3F6D 20%, #FF00C7 45%, #EE2AFF 77.81%, #B337FF 99.69%);
}


/* orange */
.fill-orange {
    background: linear-gradient(43.61deg, #FF1468 55.66%, #FF9F47 79.9%, #FFE247 94.59%);
}

/* END COLORS */








/* ANIMATIONS */
.shake {
    animation: shake 600ms both;
}

@keyframes shake {

    3%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


.ascend-fade {
    position: relative;
    animation: ascend-fade 500ms forwards;
}

@keyframes ascend-fade {
    0% {
        bottom: 0px;
        opacity: 1;
    }

    30% {
        bottom: 0px;
        opacity: 1;
    }

    80% {
        bottom: 20px;
        opacity: .8;
    }

    100% {
        bottom: 30px;
        opacity: 0;
    }
}


.progress-stripes {
    position: relative;
    overflow: hidden;
}

.progress-stripes::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg,
            rgba(255, 255, 255, .15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .15) 50%,
            rgba(255, 255, 255, .15) 75%,
            transparent 75%,
            transparent);
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

/* END ANIMATIONS */