/* PARAGRAPH */
#main-container.dark p {
    color: rgba(247, 252, 253, 0.83);
}

#main-container.dark a {
    color: rgba(247, 252, 253, 0.83);
}

/* --color-- */
#main-container.dark .dark-text {
    color: #a3d1f8;
}

#main-container.dark p.light-text {
    color: #858991;
}

#main-container.dark span.light-text {
    color: #858991;
}

button.light-text {
    color: #858991;
}

div.light-text {
    background-color: #858991;
}

#main-container.dark .white-text {
    opacity: 0.9;
    color: #fff;
}

#main-container.dark p.green-text {
    color: #00E577;
}

#main-container.dark p.red-text {
    color: #FF4848;
}

#main-container.dark p.blue-text {
    color: #7683FF;
}

#main-container.dark p.gold-text {
    color: #FFA723;
}

#main-container.dark p.flamingo-text {
    color: #B337FF;
}

/* END PARAGRAPH */









/* INPUTS */
#main-container.dark input {
    outline: none;
    border: none;
    color: rgb(246, 249, 255);
    font-size: 16;
    min-width: 0px;
}

#main-container.dark textarea {
    outline: none;
    border: none;
    font-size: 16;
    color: rgb(246, 249, 255);
    min-width: 0px;
    resize: none;
}

/* END INPUTS */










/* SEPARATORS */
#main-container.dark .sep-line {
    height: 1px;
    box-shadow: 0px 2px 0.5px rgba(71, 69, 105, 0.7);
}

#main-container.dark .vert-sep-line {
    height: 100%;
    width: 1px;
    border-right: 1px solid rgba(71, 69, 105, 0.7);
}

/* --stroke-- */
#main-container.dark .light-stroke {
    border: 1px solid #32353A;
}

/* END SEPARATORS */








/* SHADOWS */
#main-container.dark .low-shadow {
    box-shadow: 0px 1px 7px 1px rgba(14, 17, 20, 0.5);
}


#main-container.dark .large-shadow {
    box-shadow: 0px 1px 30px rgba(14, 17, 20, 0.7);
}

/* END SHADOWS */










/* COLORS */
#main-container.dark .active-opacity {
    opacity: .6;
}

#main-container.dark .active-opacity:hover {
    opacity: 1;
}

#main-container.dark .active-opacity.active {
    opacity: 1;
}

/* light bg */
#main-container.dark .fill-light {
    background-color: #FAFCFF;
}


/* dark */
#main-container.dark .fill-dark {
    background-color: rgb(184, 198, 219);
}


#main-container.dark .fill-overlay {
    background-color: rgb(20 20 23 / 60%);
}


/* white */
#main-container.dark .fill-white {
    background-color: #191c21;
}

#main-container.dark .fill-true-white {
    background-color: #fff;
}

#main-container.dark .icon-holder.fill-white {
    opacity: 0.87;
    background-color: #fff;
}


/* light shade */
#main-container.dark .fill-light-shade {
    background: rgba(21, 23, 28, 0.47);
}

#main-container.dark input.fill-light-shade {
    background: rgba(21, 23, 28, 0.47);
}

#main-container.dark .input.fill-light-shade {
    background: rgba(21, 23, 28, 0.47);
}

#main-container.dark textarea.fill-light-shade {
    background: rgba(21, 23, 28, 0.47);
}

/* error */
#main-container.dark .fill-error {
    background: rgba(216, 19, 19, 0.15);
}


/* dark shade */
#main-container.dark .fill-dark-shade {
    background-color: rgb(24 24 29 / 60%);
}

/* light text */
#main-container.dark .fill-light-text {
    background-color: #575C63;
}

/* transparent */
#main-container.dark .fill-transparent {
    background-color: transparent;
}


/* green */
#main-container.dark .fill-green {
    background: #4abd4e;
}


/* red */
#main-container.dark .fill-red {
    background-color: #c22f2f;
}


/* blue */
#main-container.dark .fill-blue {
    background: #2e97eb;
}


/* inactive */
#main-container.dark .fill-inactive {
    opacity: .5;
}


/* gold */
#main-container.dark .fill-gold {
    background: linear-gradient(93.67deg, #FFC32A 0%, #FFA723 26.68%, #FFB31E 62.13%, #FFC52E 100%);
}


/* flamingo */
#main-container.dark .fill-flamingo {
    background: linear-gradient(93.85deg, #EF8F36 0%, #FF3F6D 20%, #FF00C7 45%, #EE2AFF 77.81%, #B337FF 99.69%);
}


/* orange */
#main-container.dark .fill-orange {
    background: linear-gradient(43.61deg, #FF1468 55.66%, #FF9F47 79.9%, #FFE247 94.59%);
}

/* END COLORS */