<div class="holder-box height-100 width-100 relative">

    <div class="display-item padding-med absolute" [ngStyle]="{'top': 50 + '%', 'left': 0 + '%'}">
        <!-- HEADER -->
        <p class="large-text bold-text margin-med">Top Fans</p>
        <!-- END HEADER -->



        <!-- ITEM -->
        <div class="flex-row margin-med" *ngFor="let item of [1,1,1]">
            <!-- BADGE -->
            <img class="med-square contained margin-side-small margin-vert" src="" alt="">
            <!-- END BADGE -->




            <!-- PROFILE PIC -->
            <img class="pfp-holder std-circle margin-side-small margin-vert" src="" alt="">
            <!-- END PROFILE PIC -->





            <!-- USERNAME -->
            <p class="flex-auto bold-text one-line contained margin-vert">trecoolableusername</p>
            <!-- END USERNAME -->
        </div>
        <!-- END ITEM -->
    </div>


</div>