<div class="width-100 flex-row relative">


    <!-- LABEL -->
    <p class="{{LabelClass}}" *ngIf="(Label.length)">{{Label}}</p>
    <!-- END LABEL -->




    <div class="flex-auto flex-row relative margin-vert">
        <!-- BAR -->
        <div class="range-bar flex-auto flex-row contained {{BarClass}}" [ngStyle]="{'height': BarHeight + 'px', 'background-color': BarColor}">
            <!-- MIN WARN -->
            <div class="warn-bar height-100" *ngIf="(MinWarn != -1)" [ngStyle]="{'min-width': ((MinWarn - MinValue) / MaxValue * 100) + '%', 'background-color': MinColor}"></div>
            <!-- END MIN WARN -->



            <div class="flex-auto"></div>



            <!-- MAX WARN -->
            <div class="warn-bar height-100" *ngIf="(MaxWarn != -1)" [ngStyle]="{'min-width': ((MaxValue - MaxWarn) / MaxValue * 100) + '%', 'background-color': MaxColor}"></div>
            <!-- END MAX WARN -->
        </div>
        <!-- END BAR -->








        <!-- TOP RANGE -->
        <div class="range-holder flex-row absolute margin-vert">
            <input class="range-slider margin-vert {{DotSize}}" type="range" step="{{Step}}" max="{{MaxValue}}" min="{{MinValue}}" [(ngModel)]="TopValue" (change)="handleTopChange()">
        </div>
        <!-- END TOP RANGE -->
    </div>







    <!-- VALUE -->
    <p class="{{ValuesClass}}" *ngIf="(ValuesClass.length)">{{TopValue}}</p>
    <!-- END VALUES -->
</div>