<div class="flex-row" *ngIf="(EffectItem != null)">

    <div class="flex-column margin-side-small margin-vert">
        <!-- OFFESET -->
        <div class="flex-row">
            <!-- X OFFSET -->
            <div class="width-50 flex-row margin-small">
                <p class="small-text bold-text margin-vert">x:</p>


                <input class="position-input med-height light-round fill-light-shade light-stroke margin-side-small" type="number" placeholder="0" [(ngModel)]="EffectItem.Settings.settings_inputs.offset_x">
            </div>
            <!-- END X OFFSET -->








            <!-- Y OFFSET -->
            <div class="width-50 flex-row margin-small">
                <p class="small-text bold-text margin-vert">y:</p>


                <input class="position-input med-height light-round fill-light-shade light-stroke margin-side-small" type="number" placeholder="0" [(ngModel)]="EffectItem.Settings.settings_inputs.offset_y">
            </div>
            <!-- END Y OFFSET -->
        </div>
        <!-- END OFFESET -->








        <!-- SCALE -->
        <div class="flex-row">
            <!-- X SCALE -->
            <div class="width-50 flex-row margin-small">
                <p class="small-text bold-text margin-vert">width:</p>


                <input class="position-input med-height light-round fill-light-shade light-stroke margin-side-small" type="number" placeholder="100" [(ngModel)]="EffectItem.Settings.settings_inputs.scale_x">
            </div>
            <!-- END X SCALE -->








            <!-- Y SCALE -->
            <div class="width-50 flex-row margin-small">
                <p class="small-text bold-text margin-vert">height:</p>


                <input class="position-input med-height light-round fill-light-shade light-stroke margin-side-small" type="number" placeholder="100" [(ngModel)]="EffectItem.Settings.settings_inputs.scale_y">
            </div>
            <!-- END Y SCALE -->
        </div>
        <!-- END SCALE -->
    </div>










    <!-- PREVIEW -->
    <div class="position-box flex-auto relative fill-light-shade light-stroke margin-vert">
        <div class="position-strecher width-100" style="padding-top: 56%;"></div>



        <div class="position-preview fill-green absolute" [ngStyle]="{'height': EffectItem.Settings.settings_inputs.scale_y + '%', 'width': EffectItem.Settings.settings_inputs.scale_x + '%', 'left': EffectItem.Settings.settings_inputs.offset_x + '%', 'top': EffectItem.Settings.settings_inputs.offset_y + '%'}"></div>
    </div>
    <!-- END PREVIEW -->
</div>