<div class="overlay-fixed flex-row" *ngIf="(true)" [ngClass]="{'opened': (Opened == 1), 'closed': (Opened != 1)}">
    <div class="overlay-back fill-overlay" (click)="close()"></div>



    <div class="overlay-box flex-column med-round relative contained fill-white low-shadow margin-center margin-vert">
        <!-- TOP -->
        <div class="fill-dark-shade">
            <!-- TITLE -->
            <div class="large-height flex-row padding-med">
                <p class="large-text bold-text center-text margin-center margin-vert">Edit Effect</p>
            </div>
            <!-- END TITLE -->






            <!-- TABS -->
            <div class="tab-holder flex-row fill-dark-shade">

                <!-- ITEM -->
                <div class="flex-row" *ngFor="let item of sections">
                    <div class="std-height content-width flex-row fill-white" style="min-width: 100px;" [ngClass]="{'fill-white': (item == section), 'fill-light-shade': (item != section)}" (click)="changeSection(item)">
                        <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="item" [TextClass]="'small-text bold-text margin-center margin-vert'"></common-elements-standard-button-base>
                    </div>



                    <div class="vert-sep-line"></div>
                </div>
                <!-- END ITEM -->

            </div>
            <!-- END TABS -->
        </div>
        <!-- END TOP -->














        <!-- SECTIONS -->
        <div class="flex-auto scroll-y padding-small" style="height: -webkit-fill-available;">

            <!-- INFO -->
            <bridge-elements-effects-edit-box-info-section-base class="margin-med padding-med" *ngIf="(section == 'info')" [EffectItem]="EffectItem"></bridge-elements-effects-edit-box-info-section-base>
            <!-- END INFO -->





            <!-- SETTINGS -->
            <bridge-elements-effects-edit-box-settings-section-base class="margin-med padding-med" *ngIf="(section == 'settings')" [EffectItem]="EffectItem"></bridge-elements-effects-edit-box-settings-section-base>
            <!-- END SETTINGS -->





            <!-- TRIGGERS -->
            <bridge-elements-effects-edit-box-triggers-section-base class="margin-med padding-med" *ngIf="(section == 'triggers')" [EffectItem]="EffectItem"></bridge-elements-effects-edit-box-triggers-section-base>
            <!-- END TRIGGERS -->

        </div>
        <!-- END SECTIONS -->












        <!-- CLOSE -->
        <div class="close-button med-height light-round absolute active-opacity fill-red margin-large" style="top: 0px; right: 0px;" (click)="close()">
            <common-elements-standard-button-base class="margin-vert" [ButtonClass]="'padding-side-small'" [TextClass]="'tiny-text margin-side-small margin-vert'" [Text]="'close'" [SplashColor]="'rgba(35,30,42,0.3)'"></common-elements-standard-button-base>
        </div>
        <!-- END CLOSE -->
    </div>


</div>











<!-- CLOSE SAVE -->
<!-- <bridge-elements-effects-edit-interface-close-save-base *ngIf="(save_opened != -1)" [Opened]="(save_opened)" [EffectItem]="EffectItem" (onClose)="toggleSaveOpened()" (onSave)="close(true)"></bridge-elements-effects-edit-interface-close-save-base> -->
<!-- END CLOSE SAVE -->