<div class="flex-row" *ngIf="(EffectItem != null)">
    <!-- START -->
    <div class="flex-row">
        <p class="bold-text margin-side-small margin-vert">Start:</p>


        <div class="std-height flex-row light-round contained fill-light-shade light-stroke" style="width: 70px;">
            <common-elements-standard-text-input-base [InputClass]="'std-height'" [InputType]="'number'" [TextClass]="''" [Value]="EffectItem.Settings.settings_inputs.duration_start" [Placeholder]="'5'" (onChange)="EffectItem.Settings.handleChange('duration_start', $event)" (onEnter)="$event"></common-elements-standard-text-input-base>
        </div>

        <p class="margin-side-small margin-vert">sec</p>
    </div>
    <!-- END START -->






    <p class="light-text margin-side-large margin-vert">to</p>








    <!-- END -->
    <div class="flex-row">
        <p class="bold-text margin-side-small margin-vert">End:</p>


        <div class="std-height flex-row light-round contained fill-light-shade light-stroke" style="width: 70px;">
            <common-elements-standard-text-input-base [InputClass]="'std-height'" [InputType]="'number'" [TextClass]="''" [Value]="EffectItem.Settings.settings_inputs.duration_end" [Placeholder]="'5'" (onChange)="EffectItem.Settings.handleChange('duration_end', $event)" (onEnter)="$event"></common-elements-standard-text-input-base>
        </div>

        <p class="margin-side-small margin-vert">sec</p>
    </div>
    <!-- END END -->
</div>