<div class="flex-auto flex-column contained">
    <!-- TOP -->
    <div class="flex-column fill-dark-shade">
        <!-- TABS -->
        <div class="tab-holder flex-row fill-dark-shade">

            <!-- ITEM -->
            <div class="flex-row" *ngFor="let item of sections">
                <div class="std-height content-width flex-row fill-white" style="min-width: 100px;" [ngClass]="{'fill-white': (item == section), 'fill-light-shade': (item != section)}" (click)="changeSection(item)">
                    <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="item" [TextClass]="'small-text bold-text margin-center margin-vert'"></common-elements-standard-button-base>
                </div>


                <div class="vert-sep-line"></div>
            </div>
            <!-- END ITEM -->
        </div>
        <!-- END TABS -->
    </div>
    <!-- END TOP -->








    <!-- SECTIONS -->
    <div class="flex-auto scroll-y">

        <!-- BRACKETS -->
        <bridge-elements-gifts-settings-brackets-section-base *ngIf="(section == 'brackets')"></bridge-elements-gifts-settings-brackets-section-base>
        <!-- END BRACKETS -->


    </div>
    <!-- END SECTIONS -->
</div>