/* CHECKBOX */
.checkbox-item {
    border: 3px solid #fff;
    border-radius: 5px;
    background-color: #13b91a;
    opacity: 0.6;
    transition: all 150ms ease-in-out;
}

.checkbox-item.active {
    opacity: 1;
    transition: all 90ms ease-in-out;
}


.checkbox-icon-mask {
    height: 70%;
    width: 70%;
    background-color: #fff;
    margin: 15%;
    transform: scale(1);
    opacity: 0;
}


.checkbox-icon-mask.active {
    transform: scale(1);
    animation: checkPop 450ms forwards;
}

@keyframes checkPop {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    15% {
        opacity: 1;
    }

    20% {
        transform: scale(1.2);
    }

    21% {
        transform: scale(1.23);
    }

    50% {
        transform: scale(0.9);
    }

    53% {
        transform: scale(0.87);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.checkbox-icon-mask.inactive {
    opacity: 0;
    transform: scale(1);
    animation: checkHide 30ms forwards;
}

@keyframes checkHide {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    30% {
        opacity: 1;
        transform: scale(1.1);
    }

    33% {
        opacity: 1;
        transform: scale(1.15);
    }

    50% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        transform: scale(0.3);
    }
}



/* END CHECKBOX */