<div class="checkbox-holder height-100 width-100 cursor-pointer flex-row {{HolderClass}}" (click)="handleClick($event)">
    <div class="checkbox-item margin-center margin-vert {{BoxClass}}" [ngClass]="{'active': (Active), 'inactive': (!Active)}" [ngStyle]="{'border-color': (BorderColor),'background-color': (Active ? ActiveColor : InactiveColor)}">

        <!-- ICON -->
        <div class="checkbox-icon-mask icon-holder {{IconName}}" [ngStyle]="{'background-color': (IconColor)}" [ngClass]="{'active': (Active), 'inactive': (!Active)}"></div>
        <!-- END ICON -->

    </div>
</div>