<div class="country-item flex-row light-round cursor-pointer relative contained padding-large margin-small margin-side-med" [ngClass]="{'active': (Active)}" (click)="selectItem($event)">
    <!-- IMAGE ICON -->
    <img class="contained {{IconClass}}" *ngIf="(IconType == 'image')" src="{{IconSrc}}" alt="">
    <!-- END IMAGE ICON -->



    <!-- MASK ICON -->
    <div class="icon-holder {{IconClass}} {{IconFill}}" *ngIf="(IconType == 'mask')" [ngStyle]="{'mask-image': (IconSrc)}"></div>
    <!-- END MASK ICON -->



    <!-- MASK ICON -->
    <div class="icon-holder {{IconClass}} {{IconName}} {{IconFill}}" *ngIf="(IconType == 'name' && IconName != '')"></div>
    <!-- END MASK ICON -->







    <!-- LABEL -->
    <p class="flex-auto small-text bold-text margin-side-med margin-vert">{{Label}}</p>
    <!-- END LABEL -->





    <div class="std-square flex-row margin-side-med margin-vert">
        <!-- RADIO -->
        <common-elements-radio-toggle-base class="small-circle margin-center margin-vert" [hidden]="(!Active)"></common-elements-radio-toggle-base>
        <!-- END RADIO -->
    </div>





    <!-- SPLASH -->
    <common-elements-splash-base #SplashElement class="height-100 width-100 absolute inactive-events" style="top: 0px; left: 0px;" [SplashColor]="'rgba(230,225,240,0.1)'"></common-elements-splash-base>
    <!-- END SPLASH -->
</div>