<div class="flex-row">

    <!-- GENDER ITEM -->
    <common-elements-standard-gender-choices-item-base *ngFor="let item of choices" (click)="setChoice(item.value)" [ChoiceClass]="ChoiceClass" [LabelClass]="LabelClass" [IconClass]="IconClass" [Label]="item.label" [Value]="item.value" [Icon]="item.icon" [Color]="item.color" [Active]="(item.value == Value)"></common-elements-standard-gender-choices-item-base>
    <!-- END GENDER ITEM -->


</div>