<div class="height-100 width-100 relative" style="top: 0px; left: 0px;" *ngIf="(EffectItem != null)">
    <!-- MEDIA -->
    <div class="flex-row absolute" [ngStyle]="{'width': EffectItem.Settings.settings.scale_x + '%', 'height': EffectItem.Settings.settings.scale_y + '%', 'left': EffectItem.Settings.settings.offset_x + '%', 'top': EffectItem.Settings.settings.offset_y + '%'}">
        <!-- VIDEO -->
        <bridge-elements-overlays-effects-item-video-base class="height-100 width-100 contained" *ngIf="(EffectItem.info.type == 'video' && EffectItem.info.media)" [Media]="EffectItem.info.media" [Start]="EffectItem.Settings.settings.duration_start" [End]="EffectItem.Settings.settings.duration_end" [Volume]="EffectItem.Settings.settings.volume" (onEnd)="handleEnd()"></bridge-elements-overlays-effects-item-video-base>
        <!-- END VIDEO -->





        <!-- GIF -->
        <bridge-elements-overlays-effects-item-gif-base class="height-100 width-100 contained" *ngIf="(EffectItem.info.type == 'gif' && EffectItem.info.media)" [Media]="EffectItem.info.media" [Start]="EffectItem.Settings.settings.duration_start" [End]="EffectItem.Settings.settings.duration_end" (onEnd)="handleEnd()"></bridge-elements-overlays-effects-item-gif-base>
        <!-- END GIF -->





        <!-- AUDIO -->
        <bridge-elements-overlays-effects-item-audio-base class="height-100 width-100 contained" *ngIf="(EffectItem.info.type == 'audio' && EffectItem.info.media)" [Media]="EffectItem.info.media" [Start]="EffectItem.Settings.settings.duration_start" [End]="EffectItem.Settings.settings.duration_end" [Volume]="EffectItem.Settings.settings.volume" (onEnd)="handleEnd()"></bridge-elements-overlays-effects-item-audio-base>
        <!-- END AUDIO -->
    </div>
    <!-- END MEDIA -->
</div>