<div class="overlay-fixed flex-row" *ngIf="(Opened != -1)" [ngClass]="{'opened': (Opened == 1), 'closed': (Opened != 1)}">
    <div class="overlay-back fill-overlay" (click)="close()"></div>
</div>



<div class="tutorial-box absolute light-round low-shadow padding-small" [ngClass]="{'left-box': (LeftBox), 'right-box': (RightBox), 'opened': (Opened == 1)}">
    <!-- TITLE -->
    <p class="bold-text center-text margin-med">{{Title}}</p>
    <!-- END TITLE -->





    <!-- IMAGE -->
    <div class="image-box light-round contained light-stroke relative margin-med">
        <div class="image-strecher" style="padding-top: 75%;"></div>
        <img class="tutorial-image height-100 width-100 absolute contained" src="{{Image}}" alt="">
    </div>
    <!-- END IMAGE -->






    <!-- HINT -->
    <div class="relative margin-med margin-top-large">
        <p class="margin-small">{{Hint}}</p>
    </div>
    <!-- END HINT -->







    <!-- CLOSE -->
    <div class="std-height light-round fill-blue margin-med margin-top-large" (click)="close()">
        <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="'Ok, got it!'" [TextClass]="'small-text bold-text margin-center margin-vert'"></common-elements-standard-button-base>
    </div>
    <!-- END CLOSE -->
</div>