/* ITEM */
.tutorial-box {
    top: 0px;
    right: 0px;
    min-height: 200px;
    max-height: 500px;
    min-width: 260px;
    width: 260px;
    background-color: #2e3031;
    opacity: 0;
    transition: all 120ms ease-in;
    z-index: 25;
}

.tutorial-box.left-box {
    right: 0px;
}

.tutorial-box.right-box {
    left: 0px;
}

.tutorial-box.opened {
    opacity: 1;
    transition: all 80ms ease-in;
}


.tutorial-image {
    top: 0px;
    left: 0px;
}

/* END ITEM */