<div class="light-round fill-white relative">
    <!-- TOP -->
    <div class="std-height flex-row fill-dark-shade">
        <p class="flex-auto bold-text cursor-pointer margin-side-large margin-vert" (click)="toggleHintOpened(true)">Stream Binding</p>


        <div class="med-square icon-holder info-icon cursor-pointer fill-light-text margin-side-med margin-vert" (click)="toggleHintOpened(true)"></div>
    </div>
    <!-- END TOP -->





    <!-- YOUNOW -->
    <bridge-elements-binding-box-younow-base></bridge-elements-binding-box-younow-base>
    <!-- END YOUNOW -->





    <!-- TUTORIAL -->
    <bridge-elements-tutorials-mini-box-base class="absolute" style="left: 0px; top: 0px;" *ngIf="(Tutorials.display_id == display_id && hint_opened != -1)" [LeftBox]="true" [Title]="hint_title" [Hint]="hint_content" [Image]="hint_image" [Opened]="(hint_opened)" (onClose)="toggleHintOpened()"></bridge-elements-tutorials-mini-box-base>
    <!-- END TUTORIAL -->
</div>