<div class="flex-auto flex-row padding-small">
    <!-- LEFT -->
    <div class="left-box flex-auto flex-column scroll-y margin-med">
        <!-- OVERLAYS -->
        <div class="overlays-holder relative margin-med">
            <div class="overlays-strecher width-100" style="padding-top: 56%;"></div>



            <bridge-elements-overlays-box-base class="height-100 width-100 flex-row absolute" style="top: 0px; left: 0px;"></bridge-elements-overlays-box-base>
        </div>
        <!-- END OVERLAYS -->









        <!-- EFFECTS -->
        <div class="flex-auto flex-row margin-med">

            <bridge-elements-effects-board-base></bridge-elements-effects-board-base>

        </div>
        <!-- END EFFECTS -->
    </div>
    <!-- END LEFT -->









    <!-- RIGHT -->
    <div class="right-box flex-column margin-med">

        <!-- BINDING -->
        <bridge-elements-binding-box-base class="margin-med"></bridge-elements-binding-box-base>
        <!-- END BINDING -->










        <!-- BOX -->
        <div class="flex-auto flex-column light-round contained fill-white margin-med">
            <div class="flex-row fill-dark-shade">
                <!-- CHAT -->
                <div class="giant-square flex-row" style="min-width: 90px;" [ngClass]="{'fill-light-shade active-opacity': (box_section != 'events'), 'fill-white': (box_section == 'events')}" (click)="changeBoxSection('events')">
                    <common-elements-standard-button-base class="height-100 width-100 flex-row" [IconType]="'name'" [IconName]="'chat-icon'" [IconClass]="'med-square fill-true-white margin-center margin-vert'"></common-elements-standard-button-base>
                </div>
                <!-- END CHAT -->






                <!-- GIFTS -->
                <div class="giant-square flex-row" style="min-width: 90px;" [ngClass]="{'fill-light-shade active-opacity': (box_section != 'gifts'), 'fill-white': (box_section == 'gifts')}" (click)="changeBoxSection('gifts')">
                    <common-elements-standard-button-base class="height-100 width-100 flex-row" [IconType]="'name'" [IconName]="'gift-icon'" [IconClass]="'med-square fill-true-white margin-center margin-vert'"></common-elements-standard-button-base>
                </div>
                <!-- END GIFTS -->
            </div>










            <!-- EVENTS -->
            <bridge-elements-events-box-base class="flex-auto flex-column contained" [hidden]="(box_section != 'events')"></bridge-elements-events-box-base>
            <!-- END EVENTS -->






            <!-- GIFTS -->
            <bridge-elements-gifts-box-base class="flex-auto flex-column contained" [hidden]="(box_section != 'gifts')"></bridge-elements-gifts-box-base>
            <!-- END GIFTS -->
        </div>
        <!-- END BOX -->


    </div>
    <!-- END RIGHT -->
</div>