/* ITEM */
.gender-item {
    background-color: rgba(0, 0, 0, 0);
    transition: all 90ms ease-in-out;
}

.gender-item:hover {
    background-color: rgba(247, 240, 250, 0.03);
}

.gender-item.active {
    background-color: rgba(247, 240, 250, 0.03);
}

/* END ITEM */