<div class="trigger-item flex-row light-round padding-med padding-side-small margin-med" *ngIf="(Trigger != null)">
    <!-- PHRASE -->
    <common-elements-standard-text-input-base class="flex-auto margin-side-small margin-vert" [Value]="inputs.phrase" [TextClass]="'large-text'" [Placeholder]="'trigger phrase'" (onChange)="inputs.phrase = $event" (onEnter)="saveTrigger()"></common-elements-standard-text-input-base>
    <!-- END PHRASE -->









    <!-- REMOVE -->
    <div class="std-square margin-side-small margin-vert" (click)="removeTrigger()">
        <common-elements-standard-button-base class="height-100 width-100 flex-row" [IconType]="'name'" [IconName]="'trash-icon'" [IconClass]="'med-square fill-light-text margin-center margin-vert'"></common-elements-standard-button-base>
    </div>
    <!-- END REMOVE -->




    <div class="std-square margin-vert" [hidden]="checkChanged()"></div>




    <!-- SAVE -->
    <div class="std-height light-round fill-green margin-side-small margin-vert" style="min-width: 90px; width: 90px;" [hidden]="!checkChanged()" (click)="saveTrigger()">
        <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="'Save'" [TextClass]="'small-text margin-center margin-vert'"></common-elements-standard-button-base>
    </div>
    <!-- END SAVE -->
</div>