<div class="flex-column">

    <!-- CHAT COLOR -->
    <div class="input-strip flex-row margin-med">
        <div class="flex-auto margin-vert">
            <p class="bold-text">Chat Message Color</p>

            <p class="small-text light-text">Change the background color of chat messages.</p>
        </div>



        <!-- VALUE -->
        <div class="input-box margin-side-med margin-vert" style="width: 160px;">


            <common-elements-standard-text-input-base class="flex-auto margin-med" [Value]="''" [Placeholder]="'Color Hexcode eg. #333'" (onChange)="$event"></common-elements-standard-text-input-base>


        </div>
        <!-- END VALUE -->
    </div>
    <div class="sep-line"></div>
    <!-- END CHAT COLOR -->













    <!-- CHAT BACKGROUND -->
    <div class="input-strip flex-row margin-med">
        <div class="flex-auto margin-vert">
            <p class="bold-text">Background Image</p>

            <p class="small-text light-text">Set a chat background with an image url.</p>
        </div>



        <!-- VALUE -->
        <div class="input-box margin-side-med margin-vert" style="width: 160px;">


            <common-elements-standard-text-input-base class="flex-auto margin-med" [Value]="''" [Placeholder]="'Image Url'" (onChange)="$event"></common-elements-standard-text-input-base>


        </div>
        <!-- END VALUE -->
    </div>
    <div class="sep-line"></div>
    <!-- END CHAT BACKGROUND -->
</div>