<div class="country-item flex-row light-round cursor-pointer relative contained padding-large margin-small margin-side-med" [ngClass]="{'active': (Active)}" (click)="selectCountry($event)">
    <!-- ICON -->
    <img class="med-square contained margin-side-med margin-vert" src="{{(Code | countryObj).flag}}" alt="">
    <!-- END ICON -->






    <!-- LABEL -->
    <p class="flex-auto small-text bold-text margin-side-med margin-vert">{{(Code | countryObj).name}}</p>
    <!-- END LABEL -->





    <div class="std-square flex-row margin-side-med margin-vert">
        <!-- RADIO -->
        <common-elements-radio-toggle-base class="small-circle margin-center margin-vert" [hidden]="(!Active)"></common-elements-radio-toggle-base>
        <!-- END RADIO -->
    </div>





    <!-- SPLASH -->
    <common-elements-splash-base #SplashElement class="height-100 width-100 absolute inactive-events" style="top: 0px; left: 0px;" [SplashColor]="'rgba(230,225,240,0.1)'"></common-elements-splash-base>
    <!-- END SPLASH -->
</div>