<div class="relative padding-small" *ngIf="(BracketItem != null)">
    <div class="flex-row fill-dark-shade padding-med">
        <!-- MIN -->
        <div class="flex-row width-50 contained">
            <div class="flex-auto contained margin-med">
                <p class="margin-small">min. bars</p>

                <input class="med-height flex-auto bold-text light-round fill-light-shade light-stroke" style="max-width: 100px;" type="number" placeholder="25" [(ngModel)]="BracketItem.info_inputs.min">
            </div>
        </div>
        <!-- END MIN -->






        <!-- MAX -->
        <div class="flex-row width-50 contained">
            <div class="flex-auto contained margin-med">
                <p class="margin-small">max. bars</p>

                <input class="med-height flex-auto bold-text light-round fill-light-shade light-stroke" style="max-width: 100px;" type="number" placeholder="50" [(ngModel)]="BracketItem.info_inputs.max">
            </div>
        </div>
        <!-- END MAX -->
    </div>












    <!-- EFFECTS -->
    <div class="margin-med">
        <!-- ADD -->
        <div class="med-height flex-auto flex-row light-round contained fill-blue margin-large" *ngIf="(BracketItem.info_inputs.effects.length < 3)" (click)="toggleEffectsOpened()">
            <common-elements-standard-button-base class="height-100 width-100" [Text]="'add effect'" [TextClass]="'small-text margin-center margin-vert'"></common-elements-standard-button-base>
        </div>
        <!-- END ADD -->







        <div class="relative margin-med" *ngFor="let item of BracketItem.info_inputs.effects">
            <bridge-elements-gifts-settings-brackets-section-item-effect-item-base [BracketItem]="BracketItem" [EffectId]="item"></bridge-elements-gifts-settings-brackets-section-item-effect-item-base>
        </div>
    </div>
    <!-- END EFFECTS -->
</div>








<!-- EFFECT SEARCH -->
<bridge-elements-effects-select-box-base *ngIf="(effects_opened != -1)" [Opened]="(effects_opened)" (onSelect)="handleEffectSelect($event)" (onClose)="toggleEffectsOpened()"></bridge-elements-effects-select-box-base>
<!-- END EFFECT SEARCH -->