<div class="flex-column margin-med" *ngIf="(EffectItem != null)">
    <!-- ADD -->
    <div class="large-height flex-row light-round contained fill-blue margin-med" *ngIf="(EffectItem.Triggers.triggers.length < 5)" (click)="addTrigger()">
        <common-elements-standard-button-base class="height-100 width-100 flex-row" [Text]="'Add an Effect Trigger'" [TextClass]="'margin-center margin-vert'"></common-elements-standard-button-base>
    </div>
    <!-- END ADD -->






    <!-- TRIGGERS -->
    <div class="" *ngFor="let item of EffectItem.Triggers.triggers">
        <div class="relative margin-med">
            <bridge-elements-effects-edit-box-triggers-section-item-base [EffectItem]="EffectItem" [Trigger]="item"></bridge-elements-effects-edit-box-triggers-section-item-base>
        </div>



        <div class="sep-line"></div>
    </div>
    <!-- END TRIGGERS -->


</div>